.ui-dialog-titlebar {
	display: none;
}

.reportListModalDialog {
	border: 1px solid #aaa;
	background-color: #fff;
	z-index: 1112;
}

div.buttons {
	margin: 0;
}

#reportListModalContent {
	overflow-x: hidden;
	overflow-y: auto;
	height: 85%;
}

#reportListModalContentWrapper {
	height: 670px;
}

#reportListModalContentWrapper h1 {
  font-family: "Segoe UI Light", "Segoe UI", Verdana, Arial, sans-serif;
  font-weight: 300;
  font-size: 32px;
  margin: 6px 0; 
}

#reportListCategorySelectorContainer {
	position: absolute;
	right: 16px;
	top: 16px;
	white-space: nowrap;
}

#reportListCategorySelector {
	width: 300px;
}

#reportListModalButtonPad {
	text-align: right;
}
