<%@ Page Language="vb" AutoEventWireup="false" Codebehind="tpmarch.aspx.vb" Inherits="lucy_r12.tpmarch" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>tpmarch</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
		<script language="JavaScript" type="text/javascript" src="../scripts/overlib2.js"></script>
		
		<script language="JavaScript" src="../scripts1/tpmarchaspx.js"></script>
	 <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body  class="tbg" onload="checkit();">
		<form id="form1" method="post" runat="server">
			<div class="bluelabel" id="tdarch" style="OVERFLOW: auto; WIDTH: 220px; POSITION: absolute; TOP: 0px; HEIGHT: 180px"
				runat="server"></div>
			<input type="hidden" id="lblchk" runat="server" NAME="lblchk"> <input type="hidden" id="lbldid" runat="server" NAME="lbldid">
			<input type="hidden" id="lblclid" runat="server" NAME="lblclid"><input type="hidden" id="lblloc" runat="server" NAME="lblloc">
			<input type="hidden" id="lbluserid" runat="server"> <input type="hidden" id="lblislabor" runat="server">
			<input type="hidden" id="lblts" runat="server"><input type="hidden" id="lbllog" runat="server">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
