<%@ Page Language="vb" AutoEventWireup="false" Codebehind="tpmfm.aspx.vb" Inherits="lucy_r12.tpmfm" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>tpmfm</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE" />
		<meta content="JavaScript" name="vs_defaultClientScript" />
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
		<script language="JavaScript" type="text/javascript" src="../scripts/overlib2.js"></script>
		
		<script language="javascript" type="text/javascript" src="../scripts/smartscroll.js"></script>
		<script language="JavaScript" src="../scripts1/tpmfmaspx.js"></script>
     <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body onload="alertid();" >
		<form id="form1" method="post" runat="server">
			<table id="scrollmenu" style="LEFT: 0px; POSITION: absolute; TOP: 0px" cellspacing="0"
				cellpadding="1">
				<tr id="trfail">
					<td id="tdfail" colSpan="2" runat="server"></td>
				</tr>
			</table>
			<input id="lblsubmit" type="hidden" name="lblsubmit" runat="server"> <input id="lblfm1" type="hidden" name="lblfm1" runat="server">
			<input id="lblfm2" type="hidden" name="lblfm2" runat="server"> <input id="lblfm3" type="hidden" name="lblfm3" runat="server">
			<input id="lblfm4" type="hidden" name="lblfm4" runat="server"> <input id="lblfm5" type="hidden" name="lblfm5" runat="server">
			<input id="lblfm1i" type="hidden" name="lblfm1i" runat="server"> <input id="lblfm2i" type="hidden" name="lblfm2i" runat="server">
			<input id="lblfm3i" type="hidden" name="lblfm3i" runat="server"> <input id="lblfm4i" type="hidden" name="lblfm4i" runat="server">
			<input id="lblfm5i" type="hidden" name="lblfm5i" runat="server"> <input id="lblpmid" type="hidden" runat="server">
			<input id="lbldir" type="hidden" runat="server"><input type="hidden" id="lblfm" runat="server">
			<input type="hidden" id="lblfmid" runat="server"> <input type="hidden" id="lblval" runat="server">
			<input type="hidden" id="lblalert" runat="server"> <input type="hidden" id="lblpmtid" runat="server">
			<input type="hidden" id="lbltasknum" runat="server"> <input type="hidden" id="lblcomid" runat="server">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
