<%@ Page Language="vb" AutoEventWireup="false" Codebehind="tpmtaskdialog.aspx.vb" Inherits="lucy_r12.tpmtaskdialog" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>TPM Performer</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" src="../scripts/sessrefdialog.js"></script>
		<script language="JavaScript" src="../scripts1/tpmtaskdialogaspx.js"></script>
     <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
     <script language="javascript" type="text/javascript">
         var timer = window.setTimeout("doref();", 1205000);
         function doref() {
             //setref
             //document.getElementById("form1").submit();
         }
         function setref() {
             window.clearTimeout(timer);
             timer = window.setTimeout("doref();", 1205000);
         }
     </script>
	</HEAD>
	<body  onload="resetsess();pageScroll()">
		<form id="form1" method="post" runat="server">
			<iframe id="iftask" runat="server" src="" width="100%" height="150%" frameBorder="no">
			</iframe><iframe id="ifsession" class="details" src="" frameBorder="no" runat="server" style="Z-INDEX: 0">
			</iframe><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
