﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="appspmo123e2excelout.aspx.vb" Inherits="lucy_r12.appspmo123e2excelout" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:datagrid id="dgout" runat="server" ShowFooter="True"></asp:datagrid>
    </div>
    </form>
</body>
</html>
