﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="pmo123e2docout.aspx.vb" Inherits="lucy_r12.pmo123e2docout" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <script language="javascript" type="text/javascript">
        function handleweb() {
            var chk = document.getElementById("lblret").value;
            var file = document.getElementById("lblfile").value;
            if (chk == "go") {
                window.parent.handleweb(file);
            }
        }
    </script>
    </head>
    <body onload="handleweb();" >
    <form id="form1" runat="server">
    <input type="hidden" id="lblfile" runat="server" />
    <input type="hidden" id="lblret" runat="server" />
    </form>
    </body>
    </html>
