<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<%@ Page Language="VB" validateRequest="false" AutoEventWireup="true" Inherits="lucy_r12.TemplateDesigner" Codebehind="FormDesigner.aspx.vb" %>
