<%@ Page Language="vb" AutoEventWireup="false" Codebehind="OptHoldertpm.aspx.vb" Inherits="lucy_r12.OptHoldertpm" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>OptHolder</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
	</HEAD>
	<body  class="tbg">
		<form id="form1" method="post" runat="server">
			<table align="center" height="100%" width="100%">
				<tr>
					<td class="bluelabel" align="center" valign="middle" height="100%"><asp:Label id="lang1051" runat="server">Waiting For Document Selection...</asp:Label></td>
				</tr>
			</table>
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
