<%@ Page Language="vb" AutoEventWireup="false" Codebehind="proclibdialogtpm.aspx.vb" Inherits="lucy_r12.proclibdialogtpm" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Bulk Procedure Lookup</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" src="../scripts1/proclibdialogtpmaspx.js"></script>
     <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<iframe id="ifbulk" src="" width="450" height="450" frameBorder="no" runat="server">
			</iframe>
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
