<%@ Page Language="vb" AutoEventWireup="false" Codebehind="tpmtemp.aspx.vb" Inherits="lucy_r12.tpmtemp" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>tpmtemp</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<INPUT id="locb1o" type="hidden" runat="server"> <INPUT id="locb1" type="hidden" runat="server">
			<INPUT id="locb1mon" type="hidden" runat="server"> <INPUT id="locb1tue" type="hidden" runat="server">
			<INPUT id="locb1wed" type="hidden" runat="server"> <INPUT id="locb1thu" type="hidden" runat="server">
			<INPUT id="locb1fri" type="hidden" runat="server"> <INPUT id="locb1sat" type="hidden" runat="server">
			<INPUT id="locb1sun" type="hidden" runat="server"> <INPUT id="locb2o" type="hidden" runat="server">
			<INPUT id="locb2" type="hidden" runat="server"> <INPUT id="locb2mon" type="hidden" runat="server">
			<INPUT id="locb2tue" type="hidden" runat="server"> <INPUT id="locb2wed" type="hidden" runat="server">
			<INPUT id="locb2thu" type="hidden" runat="server"> <INPUT id="locb2fri" type="hidden" runat="server">
			<INPUT id="locb2sat" type="hidden" runat="server"> <INPUT id="locb2sun" type="hidden" runat="server">
			<INPUT id="locb3o" type="hidden" runat="server"> <INPUT id="locb3" type="hidden" runat="server">
			<INPUT id="locb3mon" type="hidden" runat="server"> <INPUT id="locb3tue" type="hidden" runat="server">
			<INPUT id="locb3wed" type="hidden" runat="server"> <INPUT id="locb3thu" type="hidden" runat="server">
			<INPUT id="locb3fri" type="hidden" runat="server"> <INPUT id="locb3sat" type="hidden" runat="server">
			<INPUT id="locb3sun" type="hidden" runat="server">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
