﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="checkcompqtydialog.aspx.vb" Inherits="lucy_r12.checkcompqtydialog" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script  type="text/javascript">
    <!--
        function doit(who) {
            window.returnValue = who;
            window.close();
        }
    -->
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <iframe id="ifcy" runat="server" src="../appsopt/checkcompqty.aspx" width="100%" height="100%" frameborder="no">
    </iframe>
    </form>
</body>
</html>
