﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="doc2.aspx.vb" Inherits="lucy_r12.doc2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <iframe id="ifdoc" runat="server" width="100%" height="400"></iframe>
    </div>
    </form>
</body>
</html>
