<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="OptHeader.aspx.vb" Inherits="lucy_r12.OptHeader1" %>

<%@ Register TagPrefix="uc1" TagName="menu1" Src="../menu/menu1.ascx" %>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>OptHeader</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
</head>
<body>
    <form id="form1" method="post" runat="server">
    <uc1:menu1 id="Menu11" runat="server">
    </uc1:menu1>
    <input type="hidden" id="lblfslang" runat="server" />
    </form>
</body>
</html>
