<%@ Page Language="vb" AutoEventWireup="false" Codebehind="lablocsdialog.aspx.vb" Inherits="lucy_r12.lablocsdialog" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>lablocsdialog</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    <script language="JavaScript" src="../scripts/sessrefdialog.js"></script>
    <script language="javascript" type="text/javascript">
    function handleexit(loc) {
    //alert(loc)	
    window.returnValue = loc;
	window.close();
	//window.returnValue=loc;
	//window.close;
	}
	function pageScroll() {
		window.scrollTo(0,top);
		} 
	//onload="resetsess();"
    </script>
  </head>
  <body  onload="pageScroll();" >

    <form id="form1" method="post" runat="server">
<iframe id="ifsuper" src="" width="100%" height="100%" frameBorder="no" runat="server">
			</iframe><iframe id="ifsession" class="details" src="" frameborder="0" runat="server" style="z-index: 0;"></iframe>
     <script type="text/javascript">
         document.getElementById("ifsession").src = "../session.aspx?who=mm";
    </script><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
    </form>

  </body>
</html>
