<%@ Page Language="vb" AutoEventWireup="false" Codebehind="labshifts.aspx.vb" Inherits="lucy_r12.labshifts" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>labshifts</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
		<script language="javascript" type="text/javascript">
		function getval(val) {
		window.returnValue=val;
		window.close();
		}
		</script>
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
		<table>
		<tr>
		<td>
		<DIV style="BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; WIDTH: 100px; HEIGHT: 100px; OVERFLOW: auto; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; runat: "
				id="divval" runat="server"></DIV>
		</td>
		</tr>
		</table>
			
		</form>
	</body>
</HTML>
