<%@ Page Language="vb" AutoEventWireup="false" Codebehind="wrskillsdialog.aspx.vb" Inherits="lucy_r12.wrskillsdialog" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>wrskillsdialog</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" src="../scripts/sessrefdialog.js"></script>
		<script language="JavaScript" src="../scripts1/wrskillsdialogaspx.js"></script>
     <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body  bgcolor="white" onload="handleentry();" onunload="handleexit();">
		<form id="form1" method="post" runat="server">
			<iframe id="ifss" runat="server" src="" width="100%" height="100%" frameBorder="no"></iframe>
			<iframe id="ifsession" class="details" src="" frameborder="0" runat="server" style="z-index: 0;"></iframe>
     <script type="text/javascript">
         document.getElementById("ifsession").src = "../session.aspx?who=mm";
    </script><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
			<input id="lblcid" type="hidden" runat="server" NAME="lblcid"> <input id="lblsid" type="hidden" runat="server" NAME="lblsid">
			<input id="lblfuid" type="hidden" runat="server" NAME="lblfuid"> <input id="lblcoid" type="hidden" runat="server" NAME="lblcoid">
			<input id="lblco" type="hidden" runat="server" NAME="lblco"><input id="lblapp" type="hidden" runat="server" NAME="lblapp">
			<input type="hidden" id="lblopt" runat="server" NAME="lblopt"> <input type="hidden" id="lbllog" runat="server" NAME="lbllog">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
