.gborder
{
	border-left:1px solid black;
	border-bottom:1px solid black;
}
.gamenu {
	border-color:black;
	border: solid 1px black;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: Black;
	text-align:center; 
 
	FILTER: progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#ff8c00,strength=35);
	FILTER: progid:DXImageTransform.Microsoft.Alpha( style=0,opacity=75);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#88aee4);
}

.labels 
{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: Black; 
}
.plainlabels 
{
	font-family: Arial;
	font-size: 12px;
	color: Black; 
}
