﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="locgetbyeqdialog.aspx.vb" Inherits="lucy_r12.locgetbyeqdialog" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script language="javascript" type="text/javascript">
        function handlereturn(ret) {
            window.returnValue = ret;
            window.close();
        }
        function pageScroll() {
            window.scrollTo(0, top);
            //scrolldelay = setTimeout('pageScroll()', 200); 
        } 
		</script>
</head>
<body onload="pageScroll();">
    <form id="form1" runat="server">
    <div>
    <iframe id="iftd" width="100%" height="500" src="" frameBorder="no" runat="server">
			</iframe>
            <iframe id="ifsession" class="details" src="" frameborder="0" runat="server" style="z-index: 0;"></iframe>
     <script type="text/javascript">
         document.getElementById("ifsession").src = "../session.aspx?who=mm";
    </script>
    </div>
    </form>
</body>
</html>
