﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="remotelogm.aspx.vb" Inherits="lucy_r12.remotelogm" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Fusion Login</title>
    <script language="javascript" type="text/javascript">
        function handleret(ret) {
            window.returnValue = ret;
            window.close();
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
   <iframe id="iflog" src="" frameborder="0" runat="server" style="z-index: 0; width:380px; height:280px;">
        </iframe>
    </form>
</body>
</html>
