<%@ Page Language="vb" AutoEventWireup="false" Codebehind="session.aspx.vb" Inherits="lucy_r12.session" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>session</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" type="text/javascript">
		var stimer;
		function checkit() {
        var sess = document.getElementById("lblsess").value;
		var who = document.getElementById("lblwho").value;
		stimer = window.setTimeout("resetsess('" + who + "');", 600000);
		}
		function resetsess(who) {
        //alert(who)
		window.location="session.aspx?who=" + who;
		}
		</script>
	</HEAD>
	<body  onload="checkit();">
		<form id="form1" method="post" runat="server">
			<input type="hidden" id="lblstest" runat="server"> <input type="hidden" id="lblwho" runat="server">
            <input type="hidden" id="lblsess" runat="server" />
		</form>
	</body>
</HTML>
