<%@ Page Language="vb" AutoEventWireup="false" Codebehind="printpicklist.aspx.vb" Inherits="lucy_r12.printpicklist" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>printpicklist</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<TABLE width="816">
				<TR class="details">
					<td width="93">&nbsp;</td>
					<TD class="details"></TD>
					<td width="93">&nbsp;</td>
				</TR>
				<tr>
					<td></td>
					<td id="tdwi" runat="server" align="center"></td>
					<td></td>
				</tr>
			</TABLE>
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
