﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="atempconvert.aspx.vb" Inherits="lucy_r12.atempconvert" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form action='http://www.laiproducts.com/tempconvert/tempconvert.asmx/FahrenheitToCelsius'
 method="post" target="_blank">
 <table>
   <tr>
     <td>Fahrenheit to Celsius:</td>
     <td>
     <input class="frmInput" type="text" size="30" name="Fahrenheit">
     </td>
   </tr>
   <tr>
     <td>test:</td>
     <td>
     <input class="frmInput" type="text" size="30" name="test">
     </td>
   </tr>
   <tr>
     <td></td>
     <td align="right">
      <input type="submit" value="Submit" class="button">
      </td>
   </tr>
 </table>
 </form>

 <form action='http://www.laiproducts.com/tempconvert/tempconvert.asmx/CelsiusToFahrenheit'
 method="post" target="_blank">
 <table>
   <tr>
     <td>Celsius to Fahrenheit:</td>
     <td>
     <input class="frmInput" type="text" size="30" name="Celsius">
     </td>
   </tr>
   <tr>
     <td></td>
     <td align="right">
     <input type="submit" value="Submit" class="button">
     </td>
   </tr>
 </table>
 </form>
</body>
</html>
