﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="cansend2dialog.aspx.vb"
    Inherits="lucy_r12.cansend2dialog" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script language="javascript" type="text/javascript">
    <!--
        function handlereturn(ret) {
            window.returnValue = ret;
            window.close();
        }
        //-->
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <iframe id="iftd" width="100%" height="400px" src="" frameborder="0" runat="server">
        </iframe>
    </div>
    </form>
</body>
</html>
