﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="leadverif.aspx.vb" Inherits="lucy_r12.leadverif" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script language="javescript" type="text/javascript">
        function checkwho() {
            var who = document.getElementById("lblret").value;
            var eqnum = document.getElementById("lbleqnum").value;
            var userid = document.getElementById("lbluserid").value;
            var ret = who + "~" + eqnum + "~" + userid;
            window.parent.handle_leadauto(ret);
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    <input type="hidden" id="lbleqnum" runat="server" />
    <input type="hidden" id="lblsid" runat="server" />
    <input type="hidden" id="lblwonum" runat="server" />
    <input type="hidden" id="lbluserid" runat="server" />
    <input type="hidden" id="lblret" runat="server" />
    </form>
</body>
</html>
