<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="wojpeditmain.aspx.vb"
    Inherits="lucy_r12.wojpeditmain" %>

<%@ Register TagPrefix="uc1" TagName="mmenu1" Src="../menu/mmenu1.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>wojpeditmain</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    <script language="JavaScript" type="text/javascript" src="../scripts1/wojpeditmainaspx.js"></script>
    <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
    <script language="javascript" type="text/javascript">
     <!--
        function handlereturn() {
            var href = document.getElementById("lblhref").value;
            href = href.replace(/~/g, "&")
            //alert(href)
            //wolabmain.aspx?
            window.location = "../appswo/" + href
        }
        function setref() {
            //window.parent.setref();
            //setref
            //document.getElementById("form1").submit();
        }
         //-->
    </script>
</head>
<body>
    <uc1:mmenu1 ID="Mmenu11" runat="server"></uc1:mmenu1>
    <form id="form1" method="post" runat="server">
    <table width="100%" height="500%" style="z-index: 1; left: 4px; position: absolute;
        top: 80px">
        <tr>
            <td>
                <iframe id="ifinv" src="../genhold.htm" runat="server" width="100%" height="100%"
                    frameborder="no"></iframe>
            </td>
        </tr>
    </table>
    <input type="hidden" id="lblwo" runat="server">
    <input type="hidden" id="lbljpid" runat="server">
    <input type="hidden" id="lblhref" runat="server">
    <input type="hidden" id="lblfslang" runat="server" />
    </form>
</body>
</html>
