<%@ Page Language="vb" AutoEventWireup="false" Codebehind="CustomCMMSTXTtoHTMTPM.aspx.vb" Inherits="lucy_r12.CustomCMMSTXTtoHTMTPM" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>CustomCMMSTXTtoHTMTPM</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
	</HEAD>
	<body  class="lucilabel">
		<form id="form1" method="post" runat="server">
			<table width="700" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td class="lucilabel" id="tdinput" runat="server"></td>
				</tr>
			</table>
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
