<%@ Page Language="vb" AutoEventWireup="false" Codebehind="CustomCMMShtmlTPM.aspx.vb" Inherits="lucy_r12.CustomCMMShtmlTPM" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>CustomCMMShtmlTPM</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<LINK href="../styles/reports.css" type="text/css" rel="stylesheet">
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<TABLE width="816">
				<tr>
					<td></td>
					<td id="tdwi" runat="server" align="center"></td>
					<td></td>
				</tr>
				<TR class="details">
					<td width="93">&nbsp;</td>
					<TD class="label" width="624" bgcolor="silver"><asp:Label id="lang3312" runat="server">Parts</asp:Label></TD>
					<td width="93">&nbsp;</td>
				</TR>
				<tr class="details">
					<td></td>
					<td id="tdparts" runat="server" align="center" class="plainlabel"></td>
					<td></td>
				</tr>
				<TR class="details">
					<td width="93">&nbsp;</td>
					<TD class="label" width="624" bgcolor="silver"><asp:Label id="lang3313" runat="server">Tools</asp:Label></TD>
					<td width="93">&nbsp;</td>
				</TR>
				<tr class="details">
					<td></td>
					<td id="tdtools" runat="server" align="center" class="plainlabel"></td>
					<td></td>
				</tr>
				<TR class="details">
					<td width="93">&nbsp;</td>
					<TD class="label" width="624" bgcolor="silver"><asp:Label id="lang3314" runat="server">Lubricants</asp:Label></TD>
					<td width="93">&nbsp;</td>
				</TR>
				<tr class="details">
					<td></td>
					<td id="tdlubes" runat="server" align="center" class="plainlabel"></td>
					<td></td>
				</tr>
			</TABLE>
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
