﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="emdtest.aspx.vb" Inherits="lucy_r12.emdtest" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" language="javascript">
    <!--
        function getemd(who) {
            var sid = "23"; // document.getElementById("lblsid").value;
            var fdate;
            var tdate;
            if (who == "open_no") {
                window.open("emd_reps.aspx?who=" + who + "&sid=" + sid + "&fdate=&tdate=&date=" + Date());
            }
            else {
                var eReturn = window.showModalDialog("e_dates.aspx", "", "dialogHeight:300px; dialogWidth:300px; resizable=yes");
                if (eReturn) {
                    var dta = eReturn.split(",");
                    fdate = dta[0];
                    tdate = dta[1];
                    //document.getElementById("lblewho").value = who;
                    //document.getElementById("lblfdate").value = fdate;
                    //document.getElementById("lbltdate").value = tdate;
                    //document.getElementById("lbleflag").value = "1";
                    //alert(fdate + "," + tdate)
                    window.open("e_reps.aspx?who=" + who + "&sid=" + sid + "&fdate=" + fdate + "&tdate=" + tdate + "&date=" + Date());
                    //document.getElementById("form1").submit();
                }
            }
        }
    //-->
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <table>
    <tr id="tdemd1" runat="server">
								<td class="bluelabelu" height="20"><A id="A25eee" onclick="getemd('open_no');" href="#">Jobs By Work Type and Supervisor</A></td>
							</tr>
                            <tr id="tdemd2" runat="server">
								<td class="bluelabelu" height="20"><A id="A26eee" onclick="getemd('open_dt');" href="#">Jobs By Work Type and Supervisor (by Date)</A></td>
							</tr>
                            <tr id="tdemd3" runat="server">
								<td class="bluelabelu" height="20"><A id="A27eee" onclick="getemd('closed_dt');" href="#">Closed Jobs By Work Type and Supervisor (by Date)</A></td>
							</tr>
    </table>
    <input id="lblsid" type="hidden" name="lblsid" runat="server" />
    </form>
</body>
</html>
