﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="EQSelectRBASdialog.aspx.vb" Inherits="lucy_r12.EQSelectRBASdialog" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Report Based Route Equipment Selection Dialog</title>
    <script language="javascript" type="text/javascript">
        function handleexit(rteid) {
        //alert(rteid)
            window.returnValue = rteid;
            window.close();

        }
       
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <iframe id="iff" runat="server" src="" width="100%" height="500" frameborder="0"></iframe>
    </form>
</body>
</html>
