﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="eqtmp_ns.aspx.vb" Inherits="lucy_r12.eqtmp_ns" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../styles/pmcssa1.css" />
</head>
<body>
    <form id="form1" runat="server">
    <div style="border-bottom: black 1px solid; border-left: black 1px solid; width: 270px;
                        height: 257px; overflow: auto; border-top: black 1px solid; border-right: black 1px solid"
                        id="diveq" runat="server">
                    </div>
    </form>
</body>
</html>
