<%@ Page Language="vb" AutoEventWireup="false" Codebehind="failnotasksdialog.aspx.vb" Inherits="lucy_r12.failnotasksdialog" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>failnotasksdialog</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<iframe id="ifrep" runat="server" src="" width="100%" height="100%" frameBorder="no">
			</iframe>
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
