<%@ Page Language="vb" AutoEventWireup="false" Codebehind="imagedialog.aspx.vb" Inherits="lucy_r12.imagedialog" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>imagedialog</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<table width="100%" height="100%">
				<tr>
					<td  width="100%" height="100%" id="tdpic" runat="server"><img src="" id="eqimg" runat="server"></td>
				</tr>
			</table>
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
