<%@ Page Language="vb" AutoEventWireup="false" Codebehind="MissingData.aspx.vb" Inherits="lucy_r12.MissingData" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>MissingData</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE" />
		<meta content="JavaScript" name="vs_defaultClientScript" />
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
		<LINK href="../styles/reports.css" type="text/css" rel="stylesheet">
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
		<script language="javascript" type="text/javascript">
		function gettask(task, fid) {
		document.getElementById("lbltasknum").value = task;
		handleexit(task + "," + fid)
		}
		function handleexit(task) {
		window.returnValue = task;
		window.close();
		}
		</script>
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<table width="816">
				<tr>
					<td class="bigbold" id="tdpm" width="524" runat="server" colspan="4" align="center"></td>
				</tr>
				<tr>
					<td width="93">&nbsp;</td>
					<td class="bigplain" id="tdass" runat="server">Asset:</td>
					<td class="bigplain" id="tdeq" runat="server"></td>
					<td width="93">&nbsp;</td>
				</tr>
				<tr>
					<td></td>
					<td colSpan="2">
						<hr SIZE="1">
					</td>
					<TD></TD>
				</tr>
			</table>
			<TABLE width="816">
				<TR>
					<td width="93">&nbsp;</td>
					<TD class="label" width="624" bgColor="silver" id="tdmd" runat="server">Missing Data</TD>
					<td width="93">&nbsp;</td>
				</TR>
				<tr>
					<td></td>
					<td id="tdwi" runat="server"></td>
					<td></td>
				</tr>
			</TABLE>
			<input type="hidden" id="lbltasklev" runat="server" NAME="lbltasklev"> <input type="hidden" id="lblsid" runat="server" NAME="lblsid">
			<input type="hidden" id="lbldid" runat="server" NAME="lbldid"> <input type="hidden" id="lblclid" runat="server" NAME="lblclid">
			<input type="hidden" id="lblchk" runat="server" NAME="lblchk"> <input type="hidden" id="lbltasknum" runat="server" NAME="lbltasknum">
			<input type="hidden" id="lblflag" runat="server"><input id="lbleqid" type="hidden" name="lbleqid" runat="server">
			<input id="lblfuid" type="hidden" runat="server" NAME="lblfuid"> <input type="hidden" id="lblcid" runat="server" NAME="lblcid">
            <input type="hidden" id="lblusername" runat="server" /><input type="hidden" id="lblfslang" runat="server" />
		</form>
	</body>
</HTML>
