﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="PGEMSTXTtoHTM3.aspx.vb" Inherits="lucy_r12.PGEMSTXTtoHTM3" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table width="700" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td class="lucilabel" id="tdinput" runat="server"></td>
				</tr>
			</table>
		
<input type="hidden" id="lblfslang" runat="server" />
    </div>
    </form>
</body>
</html>
