<%@ Page Language="vb" AutoEventWireup="false" Codebehind="PMRationaleAll.aspx.vb" Inherits="lucy_r12.PMRationaleAll" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>PMRationaleAll</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<LINK href="../styles/reports.css" type="text/css" rel="stylesheet">
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<TABLE id="tblexport" width="816" runat="server">
				<tr>
					<td id="tdwi" align="center" runat="server"></td>
				</tr>
			</TABLE>
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
