﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="pmrhtml.aspx.vb" Inherits="lucy_r12.pmrhtml" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <LINK href="../styles/reports.css" type="text/css" rel="stylesheet">
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
   <TABLE width="816">
				<tr>
					<td></td>
					<td id="tdwi" runat="server" align="center"></td>
					<td></td>
				</tr>
				
			</TABLE>
		
<input type="hidden" id="lblfslang" runat="server" />
    </form>
</body>
</html>
