﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="pmrselectdialog.aspx.vb"
    Inherits="lucy_r12.pmrselectdialog" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script language="javascript" type="text/javascript">
         function handleexit(skillid, qty, freq, rdid, pm) {
             //window.returnValue = "1";
             //alert(skillid)
             var eqstr = document.getElementById("lbleqstr").value;
             var retstr = eqstr + "," + skillid + "," + qty + "," + freq + "," + rdid + "," + pm;
             var who = document.getElementById("lblwho").value;
             if (who == "rrep") {
                 window.returnValue = retstr;
                 window.close();
             }
             else {
             window.open("pmrhtml.aspx?eqstr=" + eqstr + "&skillid=" + skillid + "&qty=" + qty + "&freq=" + freq + "&rdid=" + rdid + "&date=" + Date());
             }
             //window.close();
         }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <iframe id="iff" src="" width="100%" height="450" frameborder="0" runat="server">
    </iframe>
    <input type="hidden" id="lbleqstr" runat="server" />
    <input type="hidden" id="lblwho" runat="server" />
    </form>
</body>
</html>
