﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="pmrselectdialog2.aspx.vb" Inherits="lucy_r12.pmrselectdialog2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Report Based Route PM Select Dialog</title>
    <script language="javascript" type="text/javascript">
        function handleexit(ptid, skillid, qty, freq, rdid, pm, tcnt, days, shift) {
            //alert(days)
            var retstr = ptid + "," + skillid + "," + qty + "," + freq + "," + rdid + "," + pm + "," + tcnt + "," + days + "','" + shift;
            //var who = document.getElementById("lblwho").value;
            //alert(retstr)
            //if (who == "rrep") {
                window.returnValue = retstr;
                window.close();
            //}
            
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <iframe id="iff" src="" width="100%" height="450" frameborder="0" runat="server" scrolling="auto">
    </iframe>
    <input type="hidden" id="lblsid" runat="server" />
    </form>
</body>
</html>
