﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="printpmg.aspx.vb" Inherits="lucy_r12.printpmg" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Print PM Output</title>
    <link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <table width="816">
        <tr class="details">
            <td width="93">
                &nbsp;
            </td>
            <td class="details">
            </td>
            <td width="93">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td id="tdwi" runat="server" align="center">
            </td>
            <td>
            </td>
        </tr>
    </table>
    <input type="hidden" id="lblfslang" runat="server" />
    </form>
</body>
</html>
