﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="RBASTaskOrdDialog.aspx.vb" Inherits="lucy_r12.RBASTaskOrdDialog" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Report Based Route Task Reorder</title>
    <script language="javascript" type="text/javascript">
        function handleexit(rteid) {
            window.returnValue = rteid;
            window.close();
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <iframe id="iff" runat="server" src="" width="980" height="980" frameborder="0"></iframe>
    </form>
</body>
</html>