﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="RBASloclookdialog.aspx.vb" Inherits="lucy_r12.RBASloclookdialog" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Report Based Route Selection Dialog</title>
    <script language="javascript" type="text/javascript">
        function handleexit(rteid) {
            window.returnValue = rteid;
            window.close();
            //var eReturn = window.showModalDialog("../reports/EQSelectRBASdialog.aspx?rteid=" + rteid + "&date=" + Date(), "", "dialogHeight:500px; dialogWidth:500px; resizable=yes");
            //if (eReturn) {
                //var ret = eReturn;
                //window.parent.handlereturn(ret);
                //var eReturn2 = window.showModalDialog("../reports/RBASTasksdialog.aspx?rteid=" + ret + "&date=" + Date(), "", "dialogHeight:700px; dialogWidth:700px; resizable=yes");
                //if (eReturn2) {

                //}
            //}
        }
        function handlereturn() {

        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <iframe id="iff" runat="server" src="" width="100%" height="700" frameborder="0"></iframe>
    </form>
</body>
</html>
