﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="RBASTasksdialog.aspx.vb" Inherits="lucy_r12.RBASTasksdialog" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Report Based Route Task Selection</title>
    <script language="javascript" type="text/javascript">
        function handleexit(rteid) {
            window.returnValue = rteid;
            window.close();
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <iframe id="iff" runat="server" src="" width="670" height="600" frameborder="0"></iframe>
    </form>
</body>
</html>
