<%@ Page Language="vb" AutoEventWireup="false" Codebehind="reportdialog.aspx.vb" Inherits="lucy_r12.reportdialog" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>PM Report Dialog</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" src="../scripts/sessrefdialog.js"></script>
		<script language="JavaScript" src="../scripts1/reportdialogaspx.js"></script>
     <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body  class="tbg" onload="resetsess();">
		<form id="form1" method="post" runat="server">
			<iframe id="ifrep" runat="server" src="" width="100%" height="200%" frameBorder="no">
			</iframe><iframe id="ifsession" class="details" src="" frameBorder="no" runat="server" style="Z-INDEX: 0">
			</iframe><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
			<input id="lbleqid" type="hidden" name="lbleqid" runat="server"> <input id="lblfuid" type="hidden" runat="server" NAME="lblfuid">
			<input type="hidden" id="lblcid" runat="server" NAME="lblcid"><input type="hidden" id="lblpgemstxt" runat="server" NAME="lblpgemstxt">
			<input type="hidden" id="lbleqnum" runat="server" NAME="lbleqnum"><input type="hidden" id="lblpgemshref" runat="server" NAME="Hidden1">
			<input type="hidden" id="lbltasklev" runat="server" NAME="lbltasklev"> <input type="hidden" id="lblsid" runat="server" NAME="lblsid">
			<input type="hidden" id="lbldid" runat="server" NAME="lbldid"> <input type="hidden" id="lblclid" runat="server" NAME="lblclid">
			<input type="hidden" id="lblchk" runat="server" NAME="lblchk"> <input type="hidden" id="lblmod" runat="server" NAME="lblmod">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
