﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="toexcel.aspx.vb" Inherits="lucy_r12.toexcel" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Output To Excel</title>
    <script language="javascript" type="text/javascript">
        function checkit() {
            var typ = document.getElementById("lbltyp").value;
            if (typ == "COMPwk") {
                document.getElementById("lbltyp").value = "0"
                document.getElementById("lblret").value = "excelclwk"
                document.getElementById("form1").submit();
                window.close();
            }
        }
        //onload="checkit();"
    </script>
    
</head>
<body>
    <form id="form1" runat="server">
    <iframe id="iffreq" src="" width="600px" height="480px" frameborder="0" runat="server" />
     <asp:DataGrid ID="dgout" runat="server" ShowFooter="True">
        </asp:DataGrid>
    <input type="hidden" id="lbltyp" runat="server" />
    <input type="hidden" id="lblret" runat="server" />
    <input type="hidden" id="lblfslang" runat="server" />
    </form>
</body>
</html>
