<%@ Page Language="vb" AutoEventWireup="false" Codebehind="tpmall.aspx.vb" Inherits="lucy_r12.tpmall"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>tpmall</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<LINK href="../styles/reports.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../styles/pmcssa1.css" />
        <style type="text/css">
        .bigbold14
{
font-family: Arial;
font-size: 14px;
color: Black;
font-weight:normal;	
}
        </style>
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<div id="div1" runat="server"></div>
             <input type="hidden" id="lblfslang" runat="server" />
		</form>
	</body>
</HTML>
