<%@ Page Language="vb" AutoEventWireup="false" Codebehind="tpmweekly3.aspx.vb" Inherits="lucy_r12.tpmweekly3"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>tpmweekly3</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<LINK href="../styles/reports.css" type="text/css" rel="stylesheet">
        <link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
        <style type="text/css">
        .replabeltop2
{
font-family: Arial;
font-size: 18px;
color: Black;
font-weight:bold
}
.replabeltopplain
{
font-family: Arial;
font-size: 15px;
color: Black;
}
.replabel
{
font-family: Arial;
font-size: 13px;
color: Black;
font-weight:bold
}
.box1bg
{
border-left: solid 1px black;
border-bottom: solid 1px black;
background-color:Silver;
/*background-image:url(../reports/gbox.gif);
background-repeat:repeat;*/
}
.box1b
{
border-bottom: solid 1px black;
}
.box1a
{
    border-top: solid 1px black;
border-left: solid 1px black;
border-bottom: solid 1px black;
}
.box1
{
border-left: solid 1px black;
border-bottom: solid 1px black;
}
.box1r
{
border-left: solid 1px black;
border-bottom: solid 1px black;
border-right: solid 1px black;
}
.gbox
{
border-bottom: solid 1px black;
border-left: solid 1px black;
border-top: solid 1px black;
border-right: solid 1px black;
background-color:Silver;
}
.gbox1
{
border-left: solid 1px black;
border-bottom: solid 1px black;
background-color:Silver;
/*background-image:url(../reports/gbox.gif);
background-repeat:repeat;*/
}
.gbox1r
{
border-left: solid 1px black;
border-bottom: solid 1px black;
border-right: solid 1px black;
background-color:Silver;
/*background-image:url(../reports/gbox.gif);
background-repeat:repeat;*/
}
        </style>
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
        <input type="hidden" id="lblfslang" runat="server" />
		</form>
	</body>
</HTML>
