﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="w_eq23.aspx.vb" Inherits="lucy_r12.w_eq23" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>EMD Department Lookup</title>
    <link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
    <script language="javascript" type="text/javascript">
    <!--
        function getthis(val) {
            window.returnValue = val;
            window.close();
        }
    //-->
    </script>
</head>
<body>
    <form id="form1" runat="server">
   <table>
        <tr>
            <td id="tdtasks" runat="server">
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
