﻿
.dashboardLink, .dashboardLinkSelected {
    margin: 10px 0 5px 5px;
}

.dashboardLink a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

.dashboardLink a:hover {
    color: black;
    font-weight: bold;
}

.dashboardLinkSelected a {
   color: black;
   font-weight: bold;
   text-decoration: none;
   cursor: pointer;
   font-size: 18px; 
}

.panel-title {
    font-size: 16px;
}

.datagrid-header .datagrid-cell span {
    font-size: 15px;
}

.datagrid-cell {
    font-size: 14px;
}

.tree-title {
    font-size: 14px;
}

.jqplot-data-label
{
	color: black;
}