﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="EquipmentNotStartedDownload.aspx.vb" Inherits="lucy_r12.EquipmentNotStartedDownload" %>

<form id="form1" runat="server">
    <div>
        <asp:GridView ID="gvEquipment" runat="server" AutoGenerateColumns="False">
            <Columns>
                <asp:BoundField DataField="name" HeaderText="Equipment Name" />
                <asp:BoundField DataField="EquipmentDesc" HeaderText="Equipment Desc" />
                <asp:BoundField DataField="ChildTotal" HeaderText="Child Total" />
            </Columns>
        </asp:GridView>
    </div>
</form>


    



