<%@ Page Language="vb" AutoEventWireup="false" Codebehind="ChangePass.aspx.vb" Inherits="lucy_r12.ChangePass" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>ChangePass</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<table>
				<tr>
					<td class="label"><asp:Label id="lang3424" runat="server">User ID</asp:Label></td>
					<td>
						<asp:TextBox id="txtuser" runat="server"></asp:TextBox></td>
				</tr>
				<tr>
					<td colspan="2" align="right">
						<asp:Button id="Button1" runat="server" Text="Button"></asp:Button></td>
				</tr>
			</table>
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
