<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Confirm.aspx.vb" Inherits="lucy_r12.Confirm" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Confirm</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<table>
				<tr>
					<td class="label"><asp:Label id="lang3427" runat="server">Confirm Password</asp:Label></td>
					<td>
						<asp:TextBox id="txtpass2" runat="server"></asp:TextBox></td>
				</tr>
			</table>
			<input type="hidden" id="lblpass1" runat="server"><input type="hidden" id="lbluserid" runat="server">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
