﻿<%@ Page Language="vb" AutoEventWireup="false" Codebehind="RPNAdmin.aspx.vb" Inherits="lucy_r12.RPNAdmin" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>RPN Admin</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE" />
		<meta content="JavaScript" name="vs_defaultClientScript" />
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
	</head>
	<body>
		<form id="form1" method="post" runat="server">
			<div>RPN Admin</div>
		</form>
	</body>
</html>
