﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="sysapps.aspx.vb" Inherits="lucy_r12.sysapps" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Profile Applications</title>
    <link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
    <link href="../styles/reports.css" type="text/css" rel="stylesheet" />
    <script language="javascript" type="text/javascript">

    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table>
    <tr>
    <td id="tdapps" runat="server">
    
    </td>
    </tr>
    </table>
    </div>
    </form>
</body>
</html>
