<%@ Page Language="vb" AutoEventWireup="false" Codebehind="useradminmain.aspx.vb" Inherits="lucy_r12.useradminmain" %>
<%@ Register TagPrefix="uc1" TagName="mmenu1" Src="../menu/mmenu1.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>useradminmain</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" src="../scripts1/useradminmainaspx.js"></script>
        <link rel="stylesheet" type="text/css" href="../jqplot/easyui.css" />
     <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body >
	<uc1:mmenu1 id="Mmenu11" runat="server"></uc1:mmenu1>
		<form id="form1" method="post" runat="server">
			<table width="100%" height="120%" style="Z-INDEX: 1; LEFT: 0px; POSITION: absolute; TOP: 76px">
				<tr>
					<td>
						<iframe id="ifinv" src="useradmin2.aspx" runat="server" width="100%" height="100%" frameBorder="no">
						</iframe>
					</td>
				</tr>
			</table>
			
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
    <script type="text/javascript" src="../jqplot/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../jqplot/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../scripts/showModalDialog.js"></script>
</HTML>
