<%@ Page Language="vb" AutoEventWireup="false" Codebehind="bigpmpic.aspx.vb" Inherits="lucy_r12.bigpmpic" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>bigpmpic</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<img id="imgact" runat="server" src="">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
