<%@ Page Language="vb" AutoEventWireup="false" Codebehind="tz.aspx.vb" Inherits="lucy_r12.tz" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>tz</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    <SCRIPT LANGUAGE = 'JavaScript'><!--
function y2k(number) { return (number < 1000) ? number + 1900 : number; }

var date = new Date();
var date = new Date(Date.UTC(y2k(date.getYear()),date.getMonth(),date.getDate(),date.getHours(),date.getMinutes(),date.getSeconds()) - 1*60*60*1000);
document.write(date);
//--></SCRIPT>
  </head>
  <body >

    <form id="form1" method="post" runat="server">

    
<input type="hidden" id="lblfslang" runat="server" />
</form>

  </body>
</html>
