<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="pmlabmain.aspx.vb" Inherits="lucy_r12.pmlabmain" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>pmlabmain</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    <script language="javascript" type="text/javascript">
        <!--
        var timer = window.setTimeout("doref();", 1205000);
        function doref() {
            //setref
            //document.getElementById("form1").submit();
        }
        function setref() {
            window.clearTimeout(timer);
            timer = window.setTimeout("doref();", 1205000);
        }
        function handlecnt(cnt) {
            try {
                document.getElementById("taskcnt").value = cnt;
            }
            catch (err) {
            }
        }
        //-->
    </script>
</head>
<body>
    <form id="form1" method="post" runat="server">
    <table cellpadding="0" cellspacing="0" style="position: absolute; top: 80px; left: 0px">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <iframe id="geteq" style="border-bottom-style: none; border-right-style: none; background-color: transparent;
                                margin: 0px; border-top-style: none; border-left-style: none" src="pmhold.htm"
                                frameborder="no" width="790" scrolling="no" height="52" allowtransparency runat="server">
                            </iframe>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <iframe id="iftaskdet" style="border-bottom-style: none; padding-bottom: 0px; border-right-style: none;
                                background-color: transparent; margin: 0px; padding-left: 0px; padding-right: 0px;
                                border-top-style: none; border-left-style: none; padding-top: 0px" src="pmhold.htm"
                                frameborder="no" width="790" scrolling="no" height="452" allowtransparency runat="server">
                                ></iframe>
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="top">
                <iframe id="iflist" runat="server" src="" width="520" height="520" frameborder="no">
                </iframe>
            </td>
        </tr>
    </table>
    <iframe id="ifsession" class="details" src="" frameborder="no" runat="server" style="z-index: 0">
    </iframe>
    </form>
</body>
</html>
