<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="PMMeasChart.aspx.vb" Inherits="lucy_r12.PMMeasChart" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>PMMeasChart</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
</head>
<body>
    <form id="form1" method="post" runat="server">
    <input type="hidden" id="lblfslang" runat="server" />
    </form>
</body>
</html>
