<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="PrintPM.aspx.vb" Inherits="lucy_r12.PrintPM" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>PrintPM</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    <link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form id="form1" method="post" runat="server">
    <table width="816">
        <tr class="details">
            <td width="93">
                &nbsp;
            </td>
            <td class="details">
            </td>
            <td width="93">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td id="tdwi" runat="server" align="center">
            </td>
            <td>
            </td>
        </tr>
    </table>
    <input type="hidden" id="lblfslang" runat="server" />
    </form>
</body>
</html>
