﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="maxjpeditmain.aspx.vb" Inherits="lucy_r12.maxjpeditmain" %>
<%@ Register TagPrefix="uc1" TagName="mmenu1" Src="../menu/mmenu1.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script language="JavaScript" src="../scripts1/wojpeditmainaspx.js"></script>
     <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
     <script language="javascript" type="text/javascript">
     function handlereturn() {
             var href = document.getElementById("lblhref").value;
             href = href.replace(/~/g, "&")
             //alert(href)
             //wolabmain.aspx?
             window.location = "../appsmax/" + href
         }
         function setref() {
             //window.parent.setref();
             //setref
             //document.getElementById("form1").submit();
         }
         </script>
</head>
<body>
<uc1:mmenu1 id="Mmenu11" runat="server"></uc1:mmenu1>
    <form id="form1" runat="server">

    <table width="100%" height="1000" style="Z-INDEX: 1; LEFT: 4px; POSITION: absolute; TOP: 80px">
				<tr>
					<td>
						<iframe id="ifinv" src="../genhold.htm" runat="server" width="100%" height="1000" frameBorder="0">
						</iframe>
					</td>
				</tr>
			</table>
			<input type="hidden" id="lblwo" runat="server"> <input type="hidden" id="lbljpid" runat="server">
			<input type="hidden" id="lblhref" runat="server">
			
		
<input type="hidden" id="lblfslang" runat="server" />

    </form>
</body>
</html>
