﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="maxnewdialog.aspx.vb" Inherits="lucy_r12.maxnewdialog" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Add New PM Job Plan Record</title>
    <script language="javascript" type="text/javascript">
        function handlereturn(pmid) {
            window.returnValue = pmid;
            window.close();
        }
    </script>
    </head>
<body>
    <form id="form1" runat="server">
    <div>
    <iframe id="ifmax" width="100%" height="300" style="POSITION: absolute; TOP: 0px; LEFT: 0px"
				 src="" frameborder="0" runat="server"></iframe>
    </div>
    </form>
</body>
</html>
