﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="maxtasks.aspx.vb" Inherits="lucy_r12.maxtasks" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script language="javascript" type="text/javascript">
        function handleexit() {
            var ret = document.getElementById("lblret").value;
            if (ret == "go") {
                window.parent.handlemaxtasks("ok");
            }
            
        }
    </script>
</head>
<body onload="handleexit();">
    <form id="form1" runat="server">
    <input type="hidden" id="lblret" runat="server" />
    </form>
</body>
</html>
