﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="printpmmax.aspx.vb" Inherits="lucy_r12.printpmmax" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Print PM</title>
    <link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table width="816">
    <tr>
					<td></td>
					<td id="tdwi" runat="server"></td>
					<td></td>
				</tr>
    </table>
    </div>
    </form>
</body>
</html>
