﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="opentst.aspx.vb" Inherits="lucy_r12.opentst" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .tbox
        {
            width: 640px;
            height: 390px;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="opmtsk" runat="server" Height="390px" TextMode="MultiLine" 
            Width="640px"></asp:TextBox>
        
        <br />
        <input id="Submit1" type="button" value="submit" runat="server" />
        <br />
        <table>
        <tr>
        <td width="640" height="390" id="tdtsk" runat="server"></td>
        </tr>
        </table>

    </div>
    </form>
</body>
</html>
