<%@ Page Language="vb" AutoEventWireup="false" Codebehind="excelout.aspx.vb" Inherits="lucy_r12.excelout" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>excelout</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<asp:datagrid id="dgout" runat="server" ShowFooter="True"></asp:datagrid>
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
