<%@ Page Language="vb" AutoEventWireup="false" Codebehind="qtimedialog.aspx.vb" Inherits="lucy_r12.qtimedialog" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Query Timeout</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" src="../scripts1/qtimedialogaspx.js"></script>
     <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<iframe id="ifq" runat="server" width="380" height="250" frameBorder="no"></iframe>
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
