﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="pmo123funclist.aspx.vb" Inherits="lucy_r12.pmo123funclist" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../styles/pmcssa1.css" />
    <script language="javascript" type="text/javascript">
        function getfunc(fid) {
            window.parent.handlefuncret(fid);
        }
        //style="POSITION: absolute; TOP: 0px; LEFT: 0px"
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div id="divfu" style="POSITION: absolute; TOP: 0px; LEFT: 0px; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; WIDTH: 600px; HEIGHT: 100px; OVERFLOW: auto; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid"
							runat="server"></div>
    </form>
</body>
</html>
