<%@ Page Language="vb" AutoEventWireup="false" Codebehind="dragdialog.aspx.vb" Inherits="lucy_r12.dragdialog" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>dragdialog</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" type="text/javascript">
		function pageScroll() {
		window.scrollTo(0,top);
		//scrolldelay = setTimeout('pageScroll()', 200); 
		} 	
		</script>
	</HEAD>
	<body  onload="pageScroll();">
		<form id="form1" method="post" runat="server">
			<iframe id="iftd" width="100%" height="100%" src="" frameBorder="no" runat="server">
			</iframe>
            <iframe id="ifsession" class="details" src="" frameborder="0" runat="server" style="z-index: 0;"></iframe>
     <script type="text/javascript">
         document.getElementById("ifsession").src = "../session.aspx?who=mm";
    </script>
		</form>
	</body>
</HTML>
