<%@ Page Language="vb" AutoEventWireup="false" Codebehind="functasks.aspx.vb" Inherits="lucy_r12.functasks" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>functasks</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE" />
		<meta content="JavaScript" name="vs_defaultClientScript" />
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
		<LINK href="../styles/pmcss1.css" type="text/css" rel="stylesheet">
		<script language="javascript" src="../scripts/smartscroll3.js"></script>
		<script language="JavaScript" type="text/javascript">	
document.onmousemove = mouseMove;
document.onmouseup   = mouseUp;

var dragObject  = null;
var mouseOffset = null;

function mouseCoords(ev){
	if(ev.pageX || ev.pageY){
		return {x:ev.pageX, y:ev.pageY};
	}
	return {
		
		x:ev.clientX + document.body.scrollLeft - document.body.clientLeft,
		y:ev.clientY //+ document.body.scrollTop  - document.body.clientTop
	};
}

function getMouseOffset(target, ev){
	ev = ev || window.event;

	var docPos    = getPosition(target);
	var mousePos  = mouseCoords(ev);
	return {x:mousePos.x - docPos.x, y:mousePos.y - docPos.y};
}

function getPosition(e){
	var left = 0;
	var top  = 0;

	while (e.offsetParent){
		left += e.offsetLeft;
		top  += e.offsetTop;
		e     = e.offsetParent;
	}

	left += e.offsetLeft;
	top  += e.offsetTop;

	return {x:left, y:top};
}

function mouseMove(ev){
	ev           = ev || window.event;
	var mousePos = mouseCoords(ev);

	if(dragObject){
		dragObject.style.position = 'absolute';
		dragObject.style.top      = mousePos.y - mouseOffset.y;
		dragObject.style.left     = mousePos.x - mouseOffset.x;
		return false;
	}
}
function mouseUp(){
	dragObject = null;
}

function makeDraggable(item){
	if(!item) return;
	item.onmousedown = function(ev){
		dragObject  = this;
		mouseOffset = getMouseOffset(this, ev);
		return false;
	}
}

var dropTargets = [];

function addDropTarget(dropTarget){
	dropTargets.push(dropTarget);
}

function mouseUp(ev){
	ev           = ev || window.event;
	var mousePos = mouseCoords(ev);

	for(var i=0; i<dropTargets.length; i++){
		var curTarget  = dropTargets[i];
		var targPos    = getPosition(curTarget);
		var targWidth  = parseInt(curTarget.offsetWidth);
		var targHeight = parseInt(curTarget.offsetHeight);

		if(
			(mousePos.x > targPos.x)                &&
			(mousePos.x < (targPos.x + targWidth))  &&
			(mousePos.y > targPos.y)                &&
			(mousePos.y < (targPos.y + targHeight))){
				// dragObject was dropped onto curTarget!
		}
	}

	dragObject   = null;
}
// iMouseDown represents the current mouse button state: up or down
/*
lMouseState represents the previous mouse button state so that we can
check for button clicks and button releases:

if(iMouseDown && !lMouseState) // button just clicked!
if(!iMouseDown && lMouseState) // button just released!
*/
var mouseOffset = null;
var iMouseDown  = false;
var lMouseState = false;
var dragObject  = null;

// Demo 0 variables
var DragDrops   = [];
var curTarget   = null;
var lastTarget  = null;
var dragHelper  = null;
var tempDiv     = null;
var rootParent  = null;
var rootSibling = null;

Number.prototype.NaN0=function(){return isNaN(this)?0:this;}

function CreateDragContainer(){
	/*
	Create a new "Container Instance" so that items from one "Set" can not
	be dragged into items from another "Set"
	*/
	var cDrag        = DragDrops.length;
	DragDrops[cDrag] = [];

	/*
	Each item passed to this function should be a "container".  Store each
	of these items in our current container
	*/
	for(var i=0; i<arguments.length; i++){
		var cObj = arguments[i];
		DragDrops[cDrag].push(cObj);
		cObj.setAttribute('DropObj', cDrag);

		/*
		Every top level item in these containers should be draggable.  Do this
		by setting the DragObj attribute on each item and then later checking
		this attribute in the mouseMove function
		*/
		for(var j=0; j<cObj.childNodes.length; j++){

			// Firefox puts in lots of #text nodes...skip these
			if(cObj.childNodes[j].nodeName=='#text') continue;

			cObj.childNodes[j].setAttribute('DragObj', cDrag);
		}
	}
}



function mouseMove(ev){
	ev         = ev || window.event;
	/*
	We are setting target to whatever item the mouse is currently on

	Firefox uses event.target here, MSIE uses event.srcElement
	*/
	var target   = ev.target || ev.srcElement;
	var mousePos = mouseCoords(ev);

if(target.id!="txtpaste") {

	// mouseOut event - fires if the item the mouse is on has changed
	if(lastTarget && (target!==lastTarget)){
		// reset the classname for the target element
		var origClass = lastTarget.getAttribute('origClass');
		if(origClass) lastTarget.className = origClass;
	}

	/*
	dragObj is the grouping our item is in (set from the createDragContainer function).
	if the item is not in a grouping we ignore it since it can't be dragged with this
	script.
	*/
	var dragObj = target.getAttribute('DragObj');

	 // if the mouse was moved over an element that is draggable
	 
	if(dragObj!=null){

		// mouseOver event - Change the item's class if necessary
		if(target!=lastTarget){
			var oClass = target.getAttribute('overClass');
			if(oClass){
				target.setAttribute('origClass', target.className);
				target.className = oClass;
			}
		}

		// if the user is just starting to drag the element
		if(iMouseDown && !lMouseState){
			// mouseDown target
			curTarget     = target;

			// Record the mouse x and y offset for the element
			rootParent    = curTarget.parentNode;
			rootSibling   = curTarget.nextSibling;

			mouseOffset   = getMouseOffset(target, ev);

			// We remove anything that is in our dragHelper DIV so we can put a new item in it.
			for(var i=0; i<dragHelper.childNodes.length; i++) dragHelper.removeChild(dragHelper.childNodes[i]);

			// Make a copy of the current item and put it in our drag helper.
			dragHelper.appendChild(curTarget.cloneNode(true));
			dragHelper.style.display = 'block';

			// set the class on our helper DIV if necessary
			var dragClass = curTarget.getAttribute('dragClass');
			if(dragClass){
				dragHelper.firstChild.className = dragClass;
			}

			// disable dragging from our helper DIV (it's already being dragged)
			dragHelper.firstChild.removeAttribute('DragObj');

			/*
			Record the current position of all drag/drop targets related
			to the element.  We do this here so that we do not have to do
			it on the general mouse move event which fires when the mouse
			moves even 1 pixel.  If we don't do this here the script
			would run much slower.
			*/
			var dragConts = DragDrops[dragObj];

			/*
			first record the width/height of our drag item.  Then hide it since
			it is going to (potentially) be moved out of its parent.
			*/
			var tchk = curTarget.id;
			var tchkstr
			try
			{
			tchkstr = document.getElementById(tchk).innerHTML
			//document.getElementById("TextBox2").value = tchk;
			}
			catch(err)
			{
			//Handle errors here
			//alert()
			//document.getElementById("TextBox2").value = tchk;
			}
			if(tchkstr!="") { //adding to catch empty drag box
			curTarget.setAttribute('startWidth',  parseInt(curTarget.offsetWidth));
			curTarget.setAttribute('startHeight', parseInt(curTarget.offsetHeight));
			curTarget.style.display  = 'none';

			// loop through each possible drop container
			for(var i=0; i<dragConts.length; i++){
				with(dragConts[i]){
					var pos = getPosition(dragConts[i]);

					/*
					save the width, height and position of each container.

					Even though we are saving the width and height of each
					container back to the container this is much faster because
					we are saving the number and do not have to run through
					any calculations again.  Also, offsetHeight and offsetWidth
					are both fairly slow.  You would never normally notice any
					performance hit from these two functions but our code is
					going to be running hundreds of times each second so every
					little bit helps!

					Note that the biggest performance gain here, by far, comes
					from not having to run through the getPosition function
					hundreds of times.
					*/
					setAttribute('startWidth',  parseInt(offsetWidth));
					setAttribute('startHeight', parseInt(offsetHeight));
					setAttribute('startLeft',   pos.x);
					setAttribute('startTop',    pos.y);
				}

				// loop through each child element of each container
				for(var j=0; j<dragConts[i].childNodes.length; j++){
					with(dragConts[i].childNodes[j]){
						if((nodeName=='#text') || (dragConts[i].childNodes[j]==curTarget)) continue;

						var pos = getPosition(dragConts[i].childNodes[j]);

						// save the width, height and position of each element
						setAttribute('startWidth',  parseInt(offsetWidth));
						setAttribute('startHeight', parseInt(offsetHeight));
						setAttribute('startLeft',   pos.x);
						setAttribute('startTop',    pos.y);
					}
				}
			}
		}//added for blank drag box check
		
		}
	}

	// If we get in here we are dragging something
	if(curTarget){
		// move our helper div to wherever the mouse is (adjusted by mouseOffset)
		dragHelper.style.top  = mousePos.y - mouseOffset.y;
		dragHelper.style.left = mousePos.x - mouseOffset.x;

		var dragConts  = DragDrops[curTarget.getAttribute('DragObj')];
		var activeCont = null;

		var xPos = mousePos.x - mouseOffset.x + (parseInt(curTarget.getAttribute('startWidth')) /2);
		var yPos = mousePos.y - mouseOffset.y + (parseInt(curTarget.getAttribute('startHeight'))/2);

		// check each drop container to see if our target object is "inside" the container
		for(var i=0; i<dragConts.length; i++){
			with(dragConts[i]){
				if(((getAttribute('startLeft'))                               < xPos) &&
					((getAttribute('startTop'))                                < yPos) &&
					((getAttribute('startLeft') + getAttribute('startWidth'))  > xPos) &&
					((getAttribute('startTop')  + getAttribute('startHeight')) > yPos)){

						/*
						our target is inside of our container so save the container into
						the activeCont variable and then exit the loop since we no longer
						need to check the rest of the containers
						*/
						activeCont = dragConts[i];
						

						// exit the for loop
						break;
						
				}
			}
		}

		// Our target object is in one of our containers.  Check to see where our div belongs
		if(activeCont){
			// beforeNode will hold the first node AFTER where our div belongs
			var beforeNode = null;

			// loop through each child node (skipping text nodes).
			for(var i=activeCont.childNodes.length-1; i>=0; i--){
				with(activeCont.childNodes[i]){
					if(nodeName=='#text') continue;

					// if the current item is "After" the item being dragged
					if(
						curTarget != activeCont.childNodes[i]                              &&
						((getAttribute('startLeft') + getAttribute('startWidth'))  > xPos) &&
						((getAttribute('startTop')  + getAttribute('startHeight')) > yPos)){
							beforeNode = activeCont.childNodes[i];
					}
				}
			}

			// the item being dragged belongs before another item
			if(beforeNode){
				if(beforeNode!=curTarget.nextSibling){
					activeCont.insertBefore(curTarget, beforeNode);
					if(activeCont=="DragContainer2") {
					activeCont.appendChild(document.getElementById("dummy"))
					}
					else {
					//activeCont.appendChild(document.getElementById("dummy1"))
					}	
				}
					

				

			// the item being dragged belongs at the end of the current container
			} else {
				if((curTarget.nextSibling=="Item13") ){//|| (curTarget.parentNode!=activeCont)

					activeCont.appendChild(curTarget);
				}
			}

			// make our drag item visible
			if(curTarget.style.display!=''){
				curTarget.style.display  = '';	
				
			}
		} else {

			// our drag item is not in a container, so hide it.
			if(curTarget.style.display!='none'){
				curTarget.style.display  = 'none';
			}
		}				
	}

	// track the current mouse state so we can compare against it next time
	lMouseState = iMouseDown;

	// mouseMove target
	lastTarget  = target;

	// track the current mouse state so we can compare against it next time
	lMouseState = iMouseDown;

	// this helps prevent items on the page from being highlighted while dragging
	return false;
}//added for txtpaste if
}

var newid = 5;
function getid(id) {
alert(id)
}
function mouseUp(ev){
	checksave();
	if(curTarget){
		// hide our helper object - it is no longer needed
		dragHelper.style.display = 'none';
		var cur = curTarget.parentNode.id
		if(cur=="DragContainer1") {
			curTarget.style.color = "blue";
			//remove here
			var sav = document.getElementById("lbl1").value
			var chkstr = curTarget.innerHTML;
			//need comid here
			/*var tsks = document.getElementById("lblcreatetasks").value;
			if(tsks=="") {
			tsks = curTarget.id + ";" + chkstr;
			document.getElementById("lblcreatetasks").value = tsks;
			}
			else {
			tsks += "~" + curTarget.id + ";" + chkstr;
			document.getElementById("lblcreatetasks").value = tsks;
			}
			var co = rootParent.id;
			var com = co.split("-");
			var comstr = com[1];
			var sRegExInput = new RegExp(comstr + ";" + chkstr + "~"); 
			sav = sav.replace(sRegExInput, "")
			var sRegExInput1 = new RegExp(comstr + ";" + chkstr); 
			sav = sav.replace(sRegExInput1, "")
			document.getElementById("lbl1").value = sav;
			//alert(document.getElementById("lbl1").value)*/
		}
		else {
			curTarget.style.color = "blue";
			//remove here
			var sav = document.getElementById("lblcreatetasks").value
			var chkstr = curTarget.innerHTML;
			var co = curTarget.id;
			//alert(co + ";" + chkstr)
			var sRegExInput = new RegExp(co + ";" + chkstr + "~"); 
			sav = sav.replace(sRegExInput, "")
			var sRegExInput1 = new RegExp(co + ";" + chkstr); 
			sav = sav.replace(sRegExInput1, "")
			document.getElementById("lblcreatetasks").value = sav;
			//alert(document.getElementById("lblcreatetasks").value)
			//end remove
			
			//DragContainer1.appendChild(curTarget.cloneNode(true));
			//if(DragContainer1.childNodes.length<6) {
			var curhtml = document.getElementById("DragContainer1").innerHTML;
			newid += 1
			curhtml += "<div class='" + "DragBox tdborder" + "' id='" + newid + "' dragClass='DragDragBox' overClass='OverDragBox'></div>"
			//document.getElementById("TextBox2").value = newid;
			document.getElementById("DragContainer1").innerHTML = curhtml;
			document.getElementById("lblmove").value += newid + ";";
			
			//added 03/14/2008
			CreateDragContainer(
			document.getElementById('DragContainer1')
			);
			/*CreateDragContainerOpen();
			document.body.appendChild(dragHelper);
			}*/
		}
		// if the drag item is invisible put it back where it was before moving it
		if(curTarget.style.display == 'none'){
			if(rootSibling){
			
				rootParent.insertBefore(curTarget, rootSibling);
				
				
			} else {
				rootParent.appendChild(curTarget);
			}
		}

		// make sure the drag item is visible
		curTarget.style.display = '';
		//document.getElementById("DragContainer2").appendChild(document.getElementById("dummy"));  
		//document.getElementById("DragContainer1").appendChild(document.getElementById("dummy1")); 
				if(cur!="DragContainer1") { 
				var dchk = curTarget.parentNode.id
				var dchkarr = dchk.split("-");
				dchk = dchkarr[1];
				var tchk = curTarget.id;
				var tchkstr
				try
				{
				tchkstr = document.getElementById(tchk).innerHTML
				tchkstr = tchkstr.replace(/;/,":")
				tchkstr = tchkstr.replace(/~/,"-")
				//document.getElementById("tddump").innerHTML = tchkstr;
				var sav = document.getElementById("lbl1")
				if(sav.value=="") {
				sav.value = dchk + ";" + tchkstr
				}
				else {
				sav.value += "~"
				sav.value += dchk + ";" + tchkstr
				}
				
				}
				catch(err)
				{
				//alert(dchk)
				}
				}
	}
	curTarget  = null;
	iMouseDown = false;
}
function checksave() {
/*var sav1 = document.getElementById("lbl1").value
if(sav1!="") {
document.getElementById("lblsave").value = "1"
window.parent.handledragsave('ctasks', '1');
}
else {
document.getElementById("lblsave").value = "0"
window.parent.handledragsave('ctasks', '0');
}
var sav2 = document.getElementById("lblcreatetasks").value
if(sav2!="") {
document.getElementById("lblsavetasks").value = "1"
window.parent.handledragsave('ttasks', '1');
}
else {
document.getElementById("lblsavetasks").value = "0"
window.parent.handledragsave('ttasks', '0');
}*/
}
function mouseDown(){
	iMouseDown = true;
	if(lastTarget){
		return false;
	}
}

document.onmousemove = mouseMove;
document.onmousedown = mouseDown;
document.onmouseup   = mouseUp;

window.onload = function(){
	// Create our helper object that will show the item while dragging
	dragHelper = document.createElement('DIV');
	dragHelper.style.cssText = 'position:absolute;display:none;';
	dragHelper.style.cursor="hand";
	//CreateDragContainerOpen();
	CreateDragContainer(
			document.getElementById('DragContainer1')//,
			//document.getElementById('DragContainer2'),
			//document.getElementById('DragContainer3')
			);
	document.body.appendChild(dragHelper);
}
function scrolltest1(){
	var start = document.getElementById("lblstart").value;
	if(start=="no") {
	FreezeScreen('<br><br><br><br>Waiting for PM Data...');
	}
	else {
	// Create our helper object that will show the item while dragging
	UnFreezeScreen();
	dragHelper = document.createElement('DIV');
	dragHelper.style.cssText = 'position:absolute;display:none;';
	dragHelper.style.cursor="hand";
	//CreateDragContainerOpen();
	CreateDragContainer(
			document.getElementById('DragContainer1')//,
			//document.getElementById('DragContainer2'),
			//document.getElementById('DragContainer3')
			);
	document.body.appendChild(dragHelper);
	}
}


		function fclose(td, img) {
		//alert(td + ", " + img)
		var str = document.getElementById(img).src
		var lst = str.lastIndexOf("/") + 1
		var loc = str.substr(lst)
		if(loc=='minus.gif') {
			document.getElementById(img).src='../images/appbuttons/bgbuttons/plus.gif';
			try {
			document.getElementById(td).className="details";
			//alert(td)
			}
			catch(err) {
			
			}
		}
		else {
			document.getElementById(img).src='../images/appbuttons/bgbuttons/minus.gif';
			try {
			document.getElementById(td).className="view";
			//alert(td)
			}
			catch(err) {
			
			}
		}
		}
		function checksav() {
		//gettasks();
			var chk = document.getElementById("lbl1").value;
			var chk1 = document.getElementById("lblcreatetasks").value;
			//if(chk!="") {
				document.getElementById("lblsubmit").value = "savetasks"
				document.getElementById("form1").submit();
			//}
		}
		function savetranstasks() {
			var chk1 = document.getElementById("lblcreatetasks").value;
			if(chk1!="") {
				var chk = document.getElementById("lbl1").value;
				if(chk!="") {
				var conf = confirm("Warning!\nThis will save and clear any current Function Tasks from Drag View")
					if(conf==true) {
						document.getElementById("lblsubmit").value = "savetasks"
						document.getElementById("form1").submit();
					}
					else {
						alert("Action Cancelled")
					}
				}
				else {
					document.getElementById("lblsubmit").value = "savetasks"
					document.getElementById("form1").submit();
				}
			}
		}
		function gettasks() {
			var activeCont = null;
		var tsks = document.getElementById("lblcreateobjs").value;
		var cur = document.getElementById("lbl1").value
		if(cur.length>0) document.getElementById("lbl1").value = "";
		var tsksarr = tsks.split(",")
		for(var j=0; j<=tsksarr.length-1; j++){
			activeCont = document.getElementById(tsksarr[j]);
			//alert(activeCont.id)
			
			for(var i=0; i<=activeCont.childNodes.length-1; i++){
			if (activeCont.childNodes[i].id!="") {//&&activeCont.childNodes[i].length!=13
			var chk  = ""
			chk = activeCont.childNodes[i].innerHTML;
			alert(activeCont.childNodes[i].id)
			if (chk!="") {
			//alert(activeCont.id)
			document.getElementById("lbl1").value += chk //activeCont.childNodes[i].id + ";";
			//alert(document.getElementById("lbl1").value)
			}
			}
			}
		}
		}
		function paste(f, e) {
		var keycode;
		if (window.event) keycode = window.event.keyCode;
		else if (e) keycode = e.which;
		else return true;
		if (keycode == 13) {
			moveit2();
			return false;
		}
		}
		function FreezeScreen(msg) {
			scroll(0,0);
			var outerPane = document.getElementById('FreezePane');
			var innerPane = document.getElementById('InnerFreezePane');
			if (outerPane) outerPane.className = 'FreezePaneOn';
			if (innerPane) innerPane.innerHTML = msg;
		}
		function UnFreezeScreen() {
			scroll(0,0);
			var outerPane = document.getElementById('FreezePane');
			if (outerPane) outerPane.className = 'FreezePaneOff';
		}
		function getfunctasks() {
		
		}
		function getlbl1() {
		alert(document.getElementById("lbl1").value)
		}
		function getorder() {
			var activeCont = null;
			activeCont = document.getElementById("DragContainer1");
			var cur = document.getElementById("lbl1").value
				if(cur.length>0) document.getElementById("lbl1").value = "";
				for(var i=0; i<=activeCont.childNodes.length-1; i++){
					if (activeCont.childNodes[i].id!="") {
						var chk  = activeCont.childNodes[i].id;
						if (chk!="") {
							if(i==0) {
								document.getElementById("lbl1").value += activeCont.childNodes[i].id;
							}
							else {
							 document.getElementById("lbl1").value += ";"
							 document.getElementById("lbl1").value += activeCont.childNodes[i].id;
							}
							
						}
					}
				}
			if(document.getElementById("lbl1").value!=document.getElementById("lbl2").value) {
				document.getElementById("lblsubmit").value = "reorder";
				document.getElementById("form1").submit();
			}
		}
		function changeview(typ) {
		var chk = document.getElementById("lbltyp").value;
		if(chk!=typ) {
		document.getElementById("lbltyp").value = typ;
		document.getElementById("lblsubmit").value = typ;
		document.getElementById("form1").submit();
		}
		}
		</script>
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<table style="LEFT: 2px; POSITION: absolute; TOP: 2px">
				<tr>
					<td>
						<table>
							<tr>
								<td class="label" width="120">Current Function</td>
								<td class="bluelabellt" id="tdfu" runat="server" width="290"></td>
								<td align="right" width="100"><input onclick="getorder();" type="button" value="Reorder Tasks"></td>
							</tr>
							<tr>
								<td colspan="3" class="plainlabel">
									<input type="radio" id="rb1" name="rtyp" checked runat="server" onclick="changeview('orig');">View 
									Original Tasks <input type="radio" id="rb2" name="rtyp" runat="server" onclick="changeview('rev');">View 
									Revised Tasks
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="thdrsingg plainlabel" width="340">Components &amp; Tasks</td>
				</tr>
				<tr>
					<td class="bluelabel" id="tdcomps" vAlign="top" runat="server">
						<div class="DragContainer1" id="DragContainer1" runat="server">
							<div class="DragBox" id="dummy1" overClass="OverDragBox" dragClass="DragDragBox"></div>
						</div>
					</td>
				</tr>
			</table>
			<input id="lbl1" type="hidden" name="lbl1" runat="server"> <input id="lbl2" type="hidden" name="lbl2" runat="server"><input id="xCoord" type="hidden" runat="server" /><input id="yCoord" type="hidden" runat="server" />
			<input id="lblsubmit" type="hidden" runat="server"> <input id="lblfuid" type="hidden" runat="server">
			<input type="hidden" id="lbltyp" runat="server">
		</form>
	</body>
</HTML>
