﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="taskmovedialog.aspx.vb" Inherits="lucy_r12.taskmovedialog" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script language="JavaScript" src="../scripts/sessrefdialog.js"></script>
		<script language="JavaScript" type="text/javascript">
        <!--
		    function handlepm() {
		        var pmstr = "ok";
		        window.returnValue = pmstr;
		        window.close();
		    }
		    function pageScroll() {
		        window.scrollTo(0, top);
		        //scrolldelay = setTimeout('pageScroll()', 200); 
		    }
            //--> 	
		</script>
</head>
<body>
    <form id="form1" runat="server">
   <iframe id="iftot" src="" width="100%" height="450" frameBorder="0" runat="server"></iframe>
			<iframe id="ifsession" class="details" src="" frameborder="0" runat="server" style="z-index: 0;"></iframe>
     <script type="text/javascript">
         document.getElementById("ifsession").src = "../session.aspx?who=mm";
    </script><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
    </form>
</body>
</html>
