<%@ Page Language="vb" AutoEventWireup="false" Codebehind="totlook.aspx.vb" Inherits="lucy_r12.totlook" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>totlook</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE" />
		<meta content="JavaScript" name="vs_defaultClientScript" />
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
		<script language="JavaScript" type="text/javascript">
		function getpm(pmstr) {
		window.parent.handlepm(pmstr);
		}
		</script>
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<table>
				<tr>
					<td>
						<div id="totdiv" style="BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; OVERFLOW: auto; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; HEIGHT: 300px; WIDTH: 360px;"
							runat="server"></div>
					</td>
				</tr>
			</table>
			<input id="lbleqid" type="hidden" runat="server"> <input id="lbltyp" type="hidden" runat="server">
		</form>
	</body>
</HTML>
