<%@ Page Language="vb" AutoEventWireup="false" Codebehind="JobPlanDialog.aspx.vb" Inherits="lucy_r12.JobPlanDialog" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>JobPlanDialog</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" src="../scripts/sessrefdialog.js"></script>
		<script language="JavaScript" src="../scripts1/JobPlanDialogaspx.js"></script>
		<script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
        <script language="javascript" type="text/javascript">
            function handleadd(st, rtn) {
                //alert(st + "," + rtn)
                window.location = "jobplanmain2.aspx?start=" + st + "&from=" + rtn;
            }
        </script>
	</HEAD>
	<body  onload="resetsess();pageScroll();">
		<form id="form1" method="post" runat="server">
			<iframe id="jpmain" src="" frameBorder="no" width="100%" scrolling="no" height="100%" runat="server">
			</iframe><iframe id="ifsession" class="details" src="" frameborder="0" runat="server" style="z-index: 0;"></iframe>
     <script type="text/javascript">
         document.getElementById("ifsession").src = "../session.aspx?who=mm";
    </script><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
			<input type="hidden" id="lbltyp" runat="server"> <input type="hidden" id="lblfslang" runat="server" />
		</form>
	</body>
</HTML>
