<%@ Page Language="vb" AutoEventWireup="false" Codebehind="JobPlanComp.aspx.vb" Inherits="lucy_r12.JobPlanComp" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>JobPlanComp</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
		<script language="javascript" type="text/javascript" src="../scripts/smartscroll.js"></script>
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<input id="xCoord" type="hidden" runat="server" NAME="xCoord"><input id="yCoord" type="hidden" runat="server" NAME="yCoord">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
