﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="pmroutehist.aspx.vb" Inherits="lucy_r12.pmroutehist" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
<script language="javascript" type="text/javascript">
    function excel() {
        document.getElementById("lblret").value = "excel"
        document.getElementById("form1").submit();
    }
    function closeit() {
        window.close;
    }
    </script>
</head>
<body onload="closeit();">
    <form id="form1" runat="server">
    <div>
    <asp:datagrid id="dgout" runat="server" ShowFooter="True"></asp:datagrid>
    </div>
    <input type="hidden" id="lblret" runat="server" />
    </form>
</body>
</html>
