<%@ Page Language="vb" AutoEventWireup="false" Codebehind="printroute.aspx.vb" Inherits="lucy_r12.printroute" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head><title></title></head>
<body>
<input type="hidden" id="lblfslang" runat="server" />
</body>
</html>
