﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="routecorr.aspx.vb" Inherits="lucy_r12.routecorr" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <table>
    <tr>
    <td><textarea rows="4" cols="30" id="txtprob" runat="server"></textarea></td>
    <td></td>
    <td></td>
    </tr>
    </table>
    </form>
</body>
</html>
