﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="addcomp2dialog.aspx.vb" Inherits="lucy_r12.addcomp2dialog" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

	<title>Add Component</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script  src="../scripts/sessrefdialog.js"></script>
	 <script  type="text/javascript" src="../scripts2/jsfslangs.js"></script>
     <script  type="text/javascript">
         function doret() {
             window.returnValue = "1";
         }
     </script>
</head>
<body onload="doret();">
	<form id="form1" runat="server">
	<table>
				<tr>
					<td>
						<iframe id="iffmh" runat="server" src="" width="850px" height="480px" frameborder="0">
						</iframe>
					</td>
				</tr>
			</table>
			<iframe id="ifsession" class="details" src="" frameborder="0" runat="server" style="z-index: 0;"></iframe>
     <script type="text/javascript">
         document.getElementById("ifsession").src = "../session.aspx?who=mm";
    </script><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
		
<input type="hidden" id="lblfslang" runat="server" />
	</form>
</body>
</html>

