<%@ Page Language="vb" AutoEventWireup="false" Codebehind="AssetClassDialog.aspx.vb" Inherits="lucy_r12.AssetClassDialog" %>
<!DOCTYPE html>
<html lang="en">
	<HEAD>
		<title>AssetClassDialog</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script  src="../scripts/sessrefdialog.js"></script>
		<script  src="../scripts1/AssetClassDialogaspx.js"></script>
     <script  type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body  onunload="handleexit();" class="tbg" onload="resetsess();pageScroll();">
		<form id="form1" method="post" runat="server">
			<table width="100%" height="100%">
				<tr>
					<td align="right"><IMG onclick="handleexit();" alt="" src="../images/appbuttons/bgbuttons/return.gif" id="btnreturn"
							runat="server" width="69" height="19"></td>
				</tr>
				<tr>
					<td>
						<div id="eqacdiv"><iframe id="ifac" width="100%" height="150%" name="ifeq" src="" frameBorder="no"
								runat="server"></iframe>
						</div>
					</td>
				</tr>
			</table>
			<iframe id="ifsession" class="details" src="" frameborder="0" runat="server" style="z-index: 0;"></iframe>
     <script type="text/javascript">
         document.getElementById("ifsession").src = "../session.aspx?who=mm";
    </script><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
			<input type="hidden" id="lblcid" runat="server" NAME="lblcid">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
