<%@ Page Language="vb" AutoEventWireup="false" Codebehind="BigPic.aspx.vb" Inherits="lucy_r12.BigPic" %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BigPic</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    <script  src="../scripts1/BigPicaspx.js"></script>
     <script  type="text/javascript" src="../scripts2/jsfslangs.js"></script>
  </head>
  <body  onload="getact();">

    <form id="form1" method="post" runat="server">
<img id="imgact" src="">
    
<input type="hidden" id="lblfslang" runat="server" />
</form>

  </body>
</html>
