<%@ Page Language="vb" AutoEventWireup="false" Codebehind="CompFailDialog.aspx.vb" Inherits="lucy_r12.CompFailDialog" %>
<!DOCTYPE html>
<html lang="en">
	<HEAD>
		<title>Add Failure Mode To Component</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script  src="../scripts/sessrefdialog.js"></script>
		<script  src="../scripts1/CompFailDialogaspx.js"></script>
     <script  type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body  class="tbg" onload="handleentry();" onunload="handleexit();">
		<form id="form1" method="post" runat="server">
			<iframe id="iff" src="" width="100%" height="150%" frameBorder="no"></iframe><iframe id="ifsession" class="details" src="" frameborder="0" runat="server" style="z-index: 0;"></iframe>
     <script type="text/javascript">
         document.getElementById("ifsession").src = "../session.aspx?who=mm";
    </script><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
			<input id="lblcid" type="hidden" runat="server" NAME="lblcid"> <input id="lbleqid" type="hidden" runat="server" NAME="lbleqid">
			<input id="lblfuid" type="hidden" runat="server" NAME="lblfuid"> <input id="lbltaskid" type="hidden" runat="server" NAME="lbltaskid">
			<input id="lblcoid" type="hidden" runat="server" NAME="lblcoid"> <input id="lblcvalu" type="hidden" runat="server" NAME="lblcvalu">
			<input type="hidden" id="lbllog" runat="server"> <input type="hidden" id="lblro" runat="server">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
