<%@ Page Language="vb" AutoEventWireup="false" Codebehind="complistdet.aspx.vb" Inherits="lucy_r12.complistdet" %>
<!DOCTYPE html>
<html lang="en">
	<HEAD>
		<title>complistdet</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
		<script  src="../scripts1/complistdetaspx.js"></script>
     <script  type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body  onload="checkit();">
		<form id="form1" method="post" runat="server">
			<div id="divco" style="BORDER-BOTTOM: black 1px solid; POSITION: absolute; BORDER-LEFT: black 1px solid; WIDTH: 500px; HEIGHT: 118px; OVERFLOW: auto; BORDER-TOP: black 1px solid; TOP: 0px; BORDER-RIGHT: black 1px solid; LEFT: 0px"
				runat="server"></div>
			<input type="hidden" id="lblfuid" runat="server" NAME="lblfuid"> <input type="hidden" id="lbllog" runat="server" NAME="lbllog">
			<input type="hidden" id="lblsrchtyp" runat="server" NAME="lblsrchtyp">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
