﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="compdivecd2dialog.aspx.vb" Inherits="lucy_r12.compdivecd2dialog" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Error Code 2 Entry</title>
    <script  type ="text/javascript">
        function handlereturn(ret) {
            window.returnValue = ret;
            window.close();
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <iframe id="ifecd" runat="server" width="100%" height="150%" frameborder="0"></iframe>
    </div>
    </form>
</body>
</html>
