<%@ Page Language="vb" AutoEventWireup="false" Codebehind="ECMExport.aspx.vb" Inherits="lucy_r12.ECMExport" %>
<!DOCTYPE html>
<html lang="en">
	<HEAD>
		<title>Looking for ECM Export</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
		<script  src="../scripts1/ECMExportaspx.js"></script>
     <script  type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body  onload="checkit();">
		<form id="form1" method="post" runat="server">
		<table align="center">
		<tr>
		<td width="5%"></td>
		<td width="90%" class="label"><br><asp:Label id="lang2075" runat="server">Looking for export application...</asp:Label><br></td>
		<td width="5%"></td>
		</tr>
		</table>
			<input type="hidden" id="lblecmindex" runat="server"> <input type="hidden" id="lblecmredirect" runat="server">
			<input type="hidden" id="lblchk" runat="server">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
