<%@ Page Language="vb" AutoEventWireup="false" Codebehind="eqcopymain.aspx.vb" Inherits="lucy_r12.eqcopymain" %>
<%@ Register TagPrefix="uc1" TagName="mmenu1" Src="../menu/mmenu1.ascx" %>
<!DOCTYPE html>
<html lang="en">
	<HEAD>
		<title>eqcopymain</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script  type="text/javascript" src="../scripts1/eqcopymainaspx.js"></script>
     <script  type="text/javascript" src="../scripts2/jsfslangs.js"></script>
     
	</HEAD>
	<body >
		<uc1:mmenu1 id="Mmenu11" runat="server"></uc1:mmenu1>
		<form id="form1" method="post" runat="server">
			<iframe id="ifsession" class="details" src="" frameBorder="no" runat="server"></iframe>
			<table width="100%" height="1000%" style="Z-INDEX: 1; POSITION: absolute; TOP: 80px; LEFT: 4px">
				<tr>
					<td>
						<iframe id="ifinv" src="eqcopy3.aspx" runat="server" width="100%" height="100%" frameBorder="no">
						</iframe>
					</td>
				</tr>
			</table>
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
