<%@ Page Language="vb" AutoEventWireup="false" Codebehind="eqmain2.aspx.vb" Inherits="lucy_r12.eqmain2" %>
<%@ Register TagPrefix="uc1" TagName="mmenu1" Src="../menu/mmenu1.ascx" %>
<!DOCTYPE html>
<html lang="en">
	<HEAD>
		<title>eqmain2</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script  type="text/javascript" src="../scripts1/eqmain2aspx.js"></script>
     <script  type="text/javascript" src="../scripts2/jsfslangs.js"></script>
     <script type="text/javascript" >
     <!--
         function handletask(cid, sid, did, clid, clid, eqid, funid, comid, lid, typ, lvl, cell, app, tli) {
             var ustr = document.getElementById("lbluser").value;
             if (app == "pmdev") {
                 window.location = "../apps/PMTasks.aspx?jump=yes&start=yes&lvl=" + lvl + "&cid=" + cid + "&tli=" + tli + "&sid=" + sid + "&did=" + did + "&eqid=" + eqid + "&clid=" + clid + "&funid=" + funid + "&comid=" + comid + "&chk=" + cell + "&lid=" + lid + "&typ=" + typ + "&ustr=" + ustr;
             }
             else if (app == "pmopt") {
                 window.location = "../appsopt/PM3OptMain.aspx?jump=yes&start=yes&lvl=" + lvl + "&cid=" + cid + "&tli=" + tli + "&sid=" + sid + "&did=" + did + "&eqid=" + eqid + "&clid=" + clid + "&funid=" + funid + "&comid=" + comid + "&chk=" + cell + "&lid=" + lid + "&typ=" + typ + "&ustr=" + ustr;
             }
             else if (app == "rbdev") {
                 window.location = "../appstpm/tpmtasksmain.aspx?jump=yes&start=yes&lvl=" + lvl + "&cid=" + cid + "&tli=" + tli + "&sid=" + sid + "&did=" + did + "&eqid=" + eqid + "&clid=" + clid + "&funid=" + funid + "&comid=" + comid + "&chk=" + cell + "&lid=" + lid + "&typ=" + typ + "&ustr=" + ustr;
             }
             else if (app == "rbopt") {
                 tli = "5";
             //alert("../appsopttpm/tpmopttasksmain.aspx?jump=yes&start=yes&lvl=" + lvl + "&cid=" + cid + "&tli=" + tli + "&sid=" + sid + "&did=" + did + "&eqid=" + eqid + "&clid=" + clid + "&funid=" + funid + "&comid=" + comid + "&chk=" + cell + "&lid=" + lid + "&typ=" + typ)
                 window.location = "../appsopttpm/tpmopttasksmain.aspx?jump=yes&start=yes&lvl=" + lvl + "&cid=" + cid + "&tli=" + tli + "&sid=" + sid + "&did=" + did + "&eqid=" + eqid + "&clid=" + clid + "&funid=" + funid + "&comid=" + comid + "&chk=" + cell + "&lid=" + lid + "&typ=" + typ + "&ustr=" + ustr;
             }
         }
         var timer = window.setTimeout("doref();", 1205000);
         function gotoeq1(href) {
             window.location = href;
         }
         function gotofu1(href) {
             window.location = href;
         }
         function gotoco1(href) {
             window.location = href;
         }
         function doref() {
             //setref
             //document.getElementById("form1").submit();
         }
         function setref() {
             //window.opener.resetTimer();
             window.clearTimeout(timer);
             timer = window.setTimeout("doref();", 1205000);
         }
         function setrefdialog() {
             window.setTimeout("doref();", 420000);
         }

         function handlelocation(href) {
         //alert(href)
             window.location = href;
         }
         
//-->
     </script>
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
		
			<table width="100%" height="120%" style="Z-INDEX: 1; LEFT: 0px; POSITION: absolute; TOP: 76px">
				<tr>
					<td>
						<iframe id="ifinv" src="eqmain3.aspx" runat="server" width="100%" height="100%" frameBorder="no">
						</iframe>
					</td>
				</tr>
			</table>
			<uc1:mmenu1 id="Mmenu11" runat="server"></uc1:mmenu1>
		<input type="hidden" id="lbluser" runat="server" />
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
