<%@ Page Language="vb" AutoEventWireup="false" Codebehind="EqPopDialog.aspx.vb" Inherits="lucy_r12.EqPopDialog" %>
<!DOCTYPE html>
<html lang="en">
	<HEAD>
		<title>EqPopDialog</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE" />
		<meta content="JavaScript" name="vs_defaultClientScript" />
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
		<script  src="../scripts/sessrefdialog.js"></script>
		<script  src="../scripts1/EqPopDialogaspx.js"></script>
     <script  type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body class="tbg" onload="handleentry();" onunload="handleexit();" >
		<form id="form1" method="post" runat="server">
			<iframe id="ifpart" frameBorder="no" width="100%" height="100%" runat="server"></iframe>
			<iframe id="ifsession" class="details" src="" frameborder="0" runat="server" style="z-index: 0;"></iframe>
     <script type="text/javascript">
         document.getElementById("ifsession").src = "../session.aspx?who=mm";
    </script><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
		<input id="lbldept" type="hidden" name="lbldept" runat="server"><input id="lblcell" type="hidden" runat="server" NAME="lblcell">
		<input id="lblchk" type="hidden" runat="server" NAME="lblchk"><input id="lblsid" type="hidden" runat="server" NAME="lblsid">
		<input type="hidden" id="lbleqid" runat="server" NAME="lbleqid"><input type="hidden" id="lbllog" runat="server">
		<input type="hidden" id="lbllid" runat="server"><input type="hidden" id="lblro" runat="server">
	</body>
</HTML>
