﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="eqxtradialog.aspx.vb" Inherits="lucy_r12.eqxtradialog" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Equipment Extra Dialog</title>
    <script  type="text/javascript">
        
        function pageScroll() {
            window.scrollTo(0, top);
            //scrolldelay = setTimeout('pageScroll()', 200); 
        } 

	</script>
</head>
<body onload="pageScroll();">
    <form id="form1" runat="server">
    
    <iframe id="ifeqx" runat="server" width="500" height="600" frameborder="0"></iframe>
    
    </form>
</body>
</html>
