<%@ Page Language="vb" AutoEventWireup="false" Codebehind="fulist2dialog.aspx.vb" Inherits="lucy_r12.fulist2dialog" %>
<!DOCTYPE html>
<html lang="en">
	<HEAD>
		<title>Details</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script  src="../scripts/sessrefdialog.js"></script>
		<script  src="../scripts1/fulist2dialogaspx.js"></script>
     <script  type="text/javascript" src="../scripts2/jsfslangs.js"></script>
     <script  type="text/javascript">
         function GetWidth() {
             var x = 0;
             if (self.innerHeight) {
                 x = self.innerWidth;
             }
             else if (document.documentElement && document.documentElement.clientHeight) {
                 x = document.documentElement.clientWidth;
             }
             else if (document.body) {
                 x = document.body.clientWidth;
             }
             return x;
         }

         function GetHeight() {
             var y = 0;
             if (self.innerHeight) {
                 y = self.innerHeight;
             }
             else if (document.documentElement && document.documentElement.clientHeight) {
                 y = document.documentElement.clientHeight;
             }
             else if (document.body) {
                 y = document.body.clientHeight;
             }
             return y;
         }
         var flag = 5
         function upsize(who) {
             if (who != flag) {
                 flag = who;
                 document.getElementById("ifimg").height = GetHeight();
                 window.scrollTo(0, top);
                 //alert(who)
             }
         }
         function handlereturn(ret) {
             window.returnValue = ret;
             window.close();
         }
    </script>
     
     </script>
	</HEAD>
	<body  onload="checklogin();upsize('1');">
		<form id="form1" method="post" runat="server">
        <script type="text/javascript">
            document.body.onresize = function () {
                upsize('2');
            }
            self.onresize = function () {
                upsize('3');
            }
            document.documentElement.onresize = function () {
                upsize('4');
            }
    </script>
			<iframe id="ifimg" runat="server" width="100%" height="100%" frameBorder="no"></iframe>
			<iframe id="ifsession" class="details" src="" frameborder="0" runat="server" style="z-index: 0;"></iframe>
     <script type="text/javascript">
         document.getElementById("ifsession").src = "../session.aspx?who=mm";
    </script><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
			<input type="hidden" id="lbllog" runat="server">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
