<%@ Page Language="vb" AutoEventWireup="false" Codebehind="FuncCopyMiniDialogtpm.aspx.vb" Inherits="lucy_r12.FuncCopyMiniDialogtpm" %>
<!DOCTYPE html>
<html lang="en">
	<HEAD>
		<title>FuncCopyMiniDialog</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script  src="../scripts/sessrefdialog.js"></script>
		<script  src="../scripts1/FuncCopyMiniDialogtpmaspx.js"></script>
     <script  type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body  class="tbg" onload="checklogin();" onunload="handleexit();">
		<form id="form1" method="post" runat="server">
			<iframe id="iffu" runat="server" width="840" height="640" frameBorder="no"></iframe>
			<iframe id="ifsession" class="details" src="" frameBorder="no" runat="server" style="Z-INDEX: 0">
			</iframe><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
		<input type="hidden" id="lblfuid" runat="server"> <input type="hidden" id="lblcid" runat="server">
		<input type="hidden" id="lbleqid" runat="server"><input type="hidden" id="lbllog" runat="server">
	</body>
</HTML>
