﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="meterprint.aspx.vb" Inherits="lucy_r12.meterprint" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Meter Route</title>
    <link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div id="repdiv" runat="server">
    
    </div>
    </form>
</body>
</html>
