﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="meterlook.aspx.vb" Inherits="lucy_r12.meterlook" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<title></title>
	<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet"/>
		<script  type="text/javascript">
			function getpm(pmstr) {
				window.parent.handlepm(pmstr);
			}
		</script>
</head>
<body>
	<form id="form1" runat="server">
	<div>
	<table>
				<tr>
					<td>
						<div id="totdiv" style="BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; OVERFLOW: auto; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; HEIGHT: 300px; WIDTH: 460px;"
							runat="server"></div>
					</td>
				</tr>
			</table>
			
	</div>
	<input id="lbleqid" type="hidden" runat="server"/> <input id="lbltyp" type="hidden" runat="server"/>
	</form>
</body>
</html>
