﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="meterhistdialog.aspx.vb" Inherits="lucy_r12.meterhistdialog" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
