﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="oclook.aspx.vb" Inherits="lucy_r12.oclook" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Occurrence Areas</title>
    <link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
    <script  type="text/javascript"">
        function getoc(oci, oc) {
            window.returnValue = oc;
            window.close();
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table>
    <tr>
    <td>
    <div style="WIDTH: 200px; HEIGHT: 300px; OVERFLOW: auto" ID="odiv" runat="server" class="btmbrdr">
    </div>
    </td>
    </tr>
    </table>
    </div>
    </form>
</body>
</html>
