<%@ Page Language="vb" AutoEventWireup="false" Codebehind="PFIntDialog.aspx.vb" Inherits="lucy_r12.PFIntDialog" %>
<!DOCTYPE html>
<html lang="en">
	<HEAD>
		<title>PFIntDialog</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE" />
		<meta content="JavaScript" name="vs_defaultClientScript" />
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
		<script  src="../scripts/sessrefdialog.js"></script>
		<script  src="../scripts1/PFIntDialogaspx.js"></script>
     <script  type="text/javascript" src="../scripts2/jsfslangs.js"></script>
     <script  type="text/javascript">
         function handleexit(pfint) {
         //alert(pfint)
             window.returnValue = pfint;
             window.close();
         }
     </script>
	</HEAD>
	<body onload="handleentry();" >
		<form id="form1" method="post" runat="server">
			<iframe id="ipf" width="100%" height="150%" name="iff" src="" runat="server" frameBorder="no">
			</iframe><iframe id="ifsession" class="details" src="" frameborder="0" runat="server" style="z-index: 0;"></iframe>
     <script type="text/javascript">
         document.getElementById("ifsession").src = "../session.aspx?who=mm";
    </script><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
			<input type="hidden" id="txttaskid" runat="server"><input type="hidden" id="lbleqid" runat="server">
			<input type="hidden" id="lbllog" runat="server">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
