<%@ Page Language="vb" AutoEventWireup="false" Codebehind="pmportfolio.aspx.vb" Inherits="lucy_r12.pmportfolio" %>
<!DOCTYPE html>
<html lang="en">
	<HEAD>
		<title>Image Collection</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE" />
		<meta content="JavaScript" name="vs_defaultClientScript" />
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
		<link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
		<script  src="../scripts1/pmportfolioaspx.js"></script>
     <script  type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body >
		<form id="form1" method="post" runat="server">
			<table>
				<tr>
					<td id="tdpics" vAlign="top" runat="server"></td>
					<td id="tdeqfu" vAlign="top" runat="server"></td>
					<td id="tdfuco" vAlign="top" runat="server"></td>
				</tr>
			</table>
			<input id="lblfuid" type="hidden" runat="server"> <input id="lblsubmit" type="hidden" runat="server">
			<input id="lblcur" type="hidden" runat="server"><input id="lbleqid" type="hidden" runat="server">
			<input id="lblcoid" type="hidden" runat="server"> <input type="hidden" id="lblofuid" runat="server">
			<input type="hidden" id="lblocoid" runat="server">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
