﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="tpmrevdialog.aspx.vb" Inherits="lucy_r12.tpmrevdialog" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>TPM Revision Entry</title>
    <script  type="text/javascript">
        function handlereturn(stat) {
            var ret = stat
            window.returnValue = ret;
            window.close();
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <iframe id="ifexpd" runat="server" src="" width="100%" height="100%" frameborder="0">
    </iframe>
    </div>
    </form>
</body>
</html>
