<%@ Page Language="vb" AutoEventWireup="false" Codebehind="complibmain.aspx.vb" Inherits="lucy_r12.complibmain" %>
<%@ Register TagPrefix="uc1" TagName="mmenu1" Src="../menu/mmenu1.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>complibmain</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" src="../scripts1/complibmainaspx.js"></script>
     <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body >
	<uc1:mmenu1 id="Mmenu11" runat="server"></uc1:mmenu1>
	<div style="POSITION: absolute; TOP: 0px; LEFT: 4px" id="scrollmenu"></div>
		<form id="form1" method="post" runat="server">
			<table width="100%" height="1000%" style="Z-INDEX: 1; POSITION: absolute; TOP: 80px; LEFT: 4px">
				<tr>
					<td>
						<iframe id="iflib" src="complib.aspx" runat="server" width="100%" height="120%" frameBorder="no">
						</iframe>
					</td>
				</tr>
			</table>
			
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
