<%@ Page Language="vb" AutoEventWireup="false" Codebehind="compclassdialog.aspx.vb" Inherits="lucy_r12.compclassdialog" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>compclassdialog</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" src="../scripts/sessrefdialog.js"></script>
		<script language="JavaScript" src="../scripts1/compclassdialogaspx.js"></script>
     <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body class="tbg" onunload="handleexit();" onload="resetsess();pageScroll();" >
		<form id="form1" method="post" runat="server">
			<table width="100%" height="100%">
				<tr>
					<td align="right"><IMG id="btnreturn" onclick="handleexit();" alt="" src="../images/appbuttons/bgbuttons/return.gif"
							width="69" height="19" runat="server"></td>
				</tr>
				<tr>
					<td>
						<div id="eqacdiv"><iframe width="100%" height="100%" id="ifac" src="" frameBorder="no" name="ifeq"
								runat="server"></iframe>
						</div>
					</td>
				</tr>
			</table>
			<iframe id="ifsession" class="details" src="" frameborder="0" runat="server" style="z-index: 0;"></iframe>
     <script type="text/javascript">
         document.getElementById("ifsession").src = "../session.aspx?who=mm";
    </script><input type="hidden" id="lblcid" runat="server" NAME="lblcid"> <input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
