﻿.tree-title {
    font-size: 16px;
}

.tree-node {
    margin: 10px;
}

.tree-node a {
    text-decoration: none;
    color: #000000;
}

.tree-node-hover {
  background: #bdbcbc;
  color: #000000;
}

.tree-node-selected {
  background: #bdbcbc;
  color: #000000;
}