<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="DevArch.aspx.vb" Inherits="lucy_r12.DevArch" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>DevArch</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    <link href="../styles/pmcssa1.css" type="text/css" rel="stylesheet" />
    <script language="JavaScript" type="text/javascript" src="../scripts/overlib2.js"></script>
    
    <script language="JavaScript" type="text/javascript" src="../scripts1/DevArchaspx.js"></script>
    <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
</head>
<body class="tbg">
    <form id="form1" method="post" runat="server">
    <div class="bluelabel" id="tdarch" style="overflow: auto; width: 250px; position: absolute;
        top: 0px; height: 168px" runat="server">
    </div>
    <input type="hidden" id="lblchk" runat="server">
    <input type="hidden" id="lbldid" runat="server">
    <input type="hidden" id="lblclid" runat="server"><input type="hidden" id="lblloc"
        runat="server">
    <input type="hidden" id="lblsid" runat="server">
    <input type="hidden" id="lblfslang" runat="server" />
    </form>
</body>
</html>
