<%@ Register TagPrefix="uc1" TagName="mmenu1" Src="../menu/mmenu1.ascx" %>
<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Assessment_Main2.aspx.vb" Inherits="lucy_r12.Assessment_Main2" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Assessment_Main2</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" src="../scripts1/Assessment_Main2aspx.js"></script>
     <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body  class="tbg">
		<uc1:mmenu1 id="Mmenu11" runat="server"></uc1:mmenu1>
		<form id="form1" method="post" runat="server">
			<table width="100%" height="2000%" style="Z-INDEX: 1; LEFT: 0px; POSITION: absolute; TOP: 76px">
				<tr>
					<td>
						<iframe id="ifas" src="Assessment_Master.aspx" runat="server" width="100%" height="100%"
							frameBorder="no" allowtransparency></iframe>
					</td>
				</tr>
			</table>
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
