<%@ Page Language="vb" AutoEventWireup="false" Codebehind="archrationaledialogtpm.aspx.vb" Inherits="lucy_r12.archrationaledialogtpm" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>archrationaledialogtpm</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" src="../scripts/sessrefdialog.js"></script>
		<script language="JavaScript" src="../scripts1/archrationaledialogtpmaspx.js"></script>
     <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body  onload="handleentry();">
		<form id="form1" method="post" runat="server">
			<iframe id="ifaddrat" src="" width="100%" height="100%" frameBorder="no"></iframe>
			<iframe id="ifsession" class="details" src="" frameBorder="no" runat="server" style="Z-INDEX: 0">
			</iframe><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh">
			<input id="lblpg" type="hidden" runat="server" NAME="lblpg"><input id="lbltaskid" type="hidden" runat="server" NAME="lbltaskid">
			<input id="lbldid" type="hidden" runat="server" NAME="lbldid"> <input id="lblclid" type="hidden" runat="server" NAME="lblclid">
			<input id="lbleqid" type="hidden" runat="server" NAME="lbleqid"> <input id="lblfuid" type="hidden" runat="server" NAME="lblfuid">
			<input id="lblcoid" type="hidden" runat="server" NAME="lblcoid"> <input type="hidden" id="lbllog" runat="server" NAME="lbllog">
			<input type="hidden" id="lblro" runat="server" NAME="lblro"> <input type="hidden" id="lblrev" runat="server" NAME="lblrev">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
