<%@ Page Language="vb" AutoEventWireup="false" Codebehind="caldialog2.aspx.vb" Inherits="lucy_r12.caldialog2"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>caldialog2</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
		<script language="JavaScript" src="../scripts/sessrefdialog.js"></script>
		<script language="JavaScript" src="../scripts1/caldialogaspx.js"></script>
		<script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
		<!--onload="pageScroll();"-->
        <script language="javascript" type="text/javascript">

        </script>
	</HEAD>
	<body  >
		<form id="form1" method="post" runat="server">
			<iframe id="ifcal" width="100%" height="100%" style="POSITION: absolute;  TOP: 0px;  LEFT: 0px"
				name="ifcal" src="" frameBorder="no" runat="server"></iframe><iframe id="ifsession" class="details" src="" frameBorder="no" runat="server" style="Z-INDEX: 0">
			</iframe><input type="hidden" id="lblsessrefresh" runat="server" NAME="lblsessrefresh"><input id="lblwho" type="hidden" runat="server" NAME="lblwho">
			<input type="hidden" id="lbllog" runat="server" NAME="lbllog"> <input type="hidden" id="lblfslang" runat="server" NAME="lblfslang">
		</form>
	</body>
</HTML>
