<%@ Page Language="vb" AutoEventWireup="false" Codebehind="calendar.aspx.vb" Inherits="lucy_r12.calendar" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>calendar</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE" />
		<meta content="JavaScript" name="vs_defaultClientScript" />
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
		<script language="JavaScript" src="../scripts1/calendaraspx.js"></script>
     <script language="JavaScript" type="text/javascript" src="../scripts2/jsfslangs.js"></script>
	</HEAD>
	<body onload="checkit();" >
		<form id="form1" method="post" runat="server">
			<asp:calendar id="Calendar2" 
                style="Z-INDEX: 105; LEFT: 0px; POSITION: absolute; TOP: 0px" runat="server"
				Height="206px" BorderStyle="Solid" BackColor="transparent" BorderColor="Blue" Font-Size="X-Small"
				Font-Names="Arial" ForeColor="Black" Font-Bold="True" Width="254px" 
                FirstDayOfWeek="Sunday" >
                
				<SelectorStyle Font-Size="X-Small" Font-Names="Arial" Font-Bold="True" ForeColor="White"></SelectorStyle>
				<DayStyle BorderWidth="1px" BorderStyle="None" BorderColor="Blue"></DayStyle>
				<NextPrevStyle Font-Size="X-Small" Font-Names="Arial" ForeColor="White"></NextPrevStyle>
				<DayHeaderStyle Font-Size="X-Small" Font-Names="Arial" Font-Bold="True" ForeColor="Blue" BorderColor="Blue"
					BackColor="transparent"></DayHeaderStyle>
				<SelectedDayStyle Font-Size="X-Small" Font-Names="Arial" Font-Bold="True" BorderWidth="1px" ForeColor="Blue"
					BorderStyle="Solid" BorderColor="Blue" BackColor="transparent"></SelectedDayStyle>
				<TitleStyle BorderWidth="1px" ForeColor="White" BorderStyle="Solid" BorderColor="Blue" BackColor="Blue"></TitleStyle>
				<OtherMonthDayStyle BackColor="#80FFFF"></OtherMonthDayStyle>
			</asp:calendar><input id="lblwho" type="hidden" name="lblwho" runat="server"> <input id="lbldate" type="hidden" name="lbldate" runat="server">
			<input id="lblch" type="hidden" name="lblch" runat="server"> <input type="hidden" id="lblcalday" runat="server">
			<input type="hidden" id="lbldays" runat="server"> <input type="hidden" id="lblretday" runat="server">
		
<input type="hidden" id="lblfslang" runat="server" />
</form>
	</body>
</HTML>
