.thdrsinglft
{
	/*cursor:hand;*/
	background:#88aee4;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#468AEA);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-left: solid #6b6c6c 2px;
	border-bottom: solid #6b6c6c 1px;
}
.thdrsingrt
{
	/*cursor:hand;*/
	background:#88aee4;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#468AEA);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	border-bottom: solid #6b6c6c 1px;
}
.thdrsingg 
{
	cursor:hand;
	background:#88aee4;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#6498E2);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #A6A6A6 1px;
	border-right: solid #A6A6A6 1px;
	border-left: solid #A6A6A6 1px;
	border-bottom: solid #A6A6A6 1px;
}
.A1:link	{	
	text-decoration:	none;
	color:	#3333cc;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}	
.A1:visited	{	
	text-decoration:  	none;
	color:	#333399;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}	
		
.A1:active	{	
	text-decoration:	none;
	color:	#333399;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}	
.FreezePaneOff
   {
      visibility: hidden;
      display: none;
      position: absolute;
      top: -100px;
      left: -100px;
      
   }

   .FreezePaneOn
   {
      position: absolute;
      top: 0px;
      left: 0px;
      visibility: visible;
      display: block;
      width: 117%;
      height: 100%;
      background-color: #eeeded;
      z-index: 999;
      filter:alpha(opacity=35);
      -moz-opacity:0.35;
      padding-top: 3%;
   }

   .InnerFreezePane
   {
	
      text-align: center;
      vertical-align: middle;
      background-color: #eeeded;
      width: 100%;
      font-family:MS Sans Serif, arial, sans-serif, Verdana;
      color: gray;
      font-size: 16px;
      font-weight:bold;
   }
.DragContainer
{
width: 310px;	
}
.DragContainer1
{
width: 510px;	
}
.DragContainer3
{
width: 320px;	
}
.DragContainer4
{
width: 330px;
margin-left: 10px;
margin-right: 0px;
}
.DragContainer5
{
width: 352px;
margin-left: 12px;	
}
.DragContainer6
{
width: 10px;	
}
.DragBox 
{
	cursor: hand; 
	width: 320px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:black;
	font-weight:normal;	
	height: 36px;
	overflow:auto;
	margin-bottom: 3px;
	padding: 2px;
	
}
.NoDragBox 
{
	cursor: hand; 
	width: 320px;	
	height: 36px;
	margin-bottom: 3px;
}
.DragBox1 
{
	cursor: hand; 
	width: 500px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:black;
	font-weight:normal;	
	height: 46px;
	overflow:auto;
	margin-bottom: 3px;
	padding: 2px;
	
}
.OverDragBox 
{
	cursor: hand; 
	width: 320px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:blue;
	font-weight:normal;	
	height: 36px;
	overflow: auto;	
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: green;
	BORDER-RIGHT-STYLE: solid; 
	BORDER-RIGHT-width: 2px;
	border-right-color: green; 
	BORDER-LEFT-STYLE: solid; 
	BORDER-LEFT-width: 2px; 
	border-left-color: green;
	BORDER-BOTTOM-STYLE: solid;
	BORDER-BOTTOM-width: 2px;
	border-bottom-color: green;
	margin-bottom: 3px;
	padding: 1px;
}
.OverDragBox1 
{
	cursor: hand; 
	width: 500px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:blue;
	font-weight:normal;	
	height: 46px;
	overflow: auto;	
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: green;
	BORDER-RIGHT-STYLE: solid; 
	BORDER-RIGHT-width: 2px;
	border-right-color: green; 
	BORDER-LEFT-STYLE: solid; 
	BORDER-LEFT-width: 2px; 
	border-left-color: green;
	BORDER-BOTTOM-STYLE: solid;
	BORDER-BOTTOM-width: 2px;
	border-bottom-color: green;
	margin-bottom: 3px;
	padding: 1px;
}
.DragDragBox
{
	cursor: hand; 
	width: 320px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:red;
	font-weight:normal;	
	height: 20px;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: red;
	BORDER-RIGHT-STYLE: solid; 
	BORDER-RIGHT-width: 2px;
	border-right-color: red; 
	BORDER-LEFT-STYLE: solid; 
	BORDER-LEFT-width: 2px; 
	border-left-color: red;
	BORDER-BOTTOM-STYLE: solid;
	BORDER-BOTTOM-width: 2px;
	border-bottom-color: red;
	margin-bottom: 3px;
}
.DragDragBox1
{
	cursor: hand; 
	width: 500px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:red;
	font-weight:normal;	
	height: 46px;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: red;
	BORDER-RIGHT-STYLE: solid; 
	BORDER-RIGHT-width: 2px;
	border-right-color: red; 
	BORDER-LEFT-STYLE: solid; 
	BORDER-LEFT-width: 2px; 
	border-left-color: red;
	BORDER-BOTTOM-STYLE: solid;
	BORDER-BOTTOM-width: 2px;
	border-bottom-color: red;
	margin-bottom: 3px;
}
.tdborder 
{

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: gray;
	BORDER-RIGHT-STYLE: solid; 
	BORDER-RIGHT-width: 1px;
	border-right-color: gray; 
	BORDER-LEFT-STYLE: solid; 
	BORDER-LEFT-width: 1px; 
	border-left-color: gray;
	BORDER-BOTTOM-STYLE: solid;
	BORDER-BOTTOM-width: 1px;
	border-bottom-color: gray;
	
}
.tdborder1
{

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: blue;
	BORDER-RIGHT-STYLE: solid; 
	BORDER-RIGHT-width: 1px;
	border-right-color: blue; 
	BORDER-LEFT-STYLE: solid; 
	BORDER-LEFT-width: 1px; 
	border-left-color: blue;
	BORDER-BOTTOM-STYLE: solid;
	BORDER-BOTTOM-width: 1px;
	border-bottom-color: blue;
	height: 36px;
}
.plainlabel
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:black;
}
.plainlabelred
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:red;
}
.details 
{ 
DISPLAY: none; 
VISIBILITY: hidden; 
FONT-FAMILY: Verdana; 
BACKGROUND-COLOR: transparent 
}
.view 
{ 
DISPLAY: block; 
VISIBILITY: visible; 
FONT-FAMILY: Verdana; 
BACKGROUND-COLOR: transparent 
}
.hlabel 
{
	display:inline;
	BORDER-RIGHT-STYLE:none;
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	BORDER-TOP-STYLE: none;
		
}
.thdrsingg 
{
	cursor:hand;
	background:#88aee4;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#6498E2);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #A6A6A6 1px;
	border-right: solid #A6A6A6 1px;
	border-left: solid #A6A6A6 1px;
	border-bottom: solid #A6A6A6 1px;
}
.bluelabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
color: Blue;
font-weight: bold;	
}
.bluelabel10
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:10px;
	text-decoration:none;
color: Blue;
font-weight: bold;	
}
.bluelabellt
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
color: Blue;
}
.label
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:black;
font-weight: bold;	
}
.graylabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:gray;
font-weight: bold;	
}
.lillabel
{
font-family:MS Sans Serif, Arial;
	font-size:10px;
	text-decoration:none;
	color:black;
font-weight: bold;	
}