.DragBox 
{
	cursor: hand; 
	width: 250px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
	color:black;
}
.DragBox1 
{
	cursor: hand; 
	width: 250px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
	color:blue;
}
.DragBox2 
{
	cursor: hand; 
	width: 250px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
	color:red;
}
.DragContainer3
{
width: 250px;	
}
.DragContainer4
{
	width: 260px;
	margin-left: 10px;
	margin-right: 0px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
	color:black;
	cursor:hand;
}
.DragContainer5
{
	width: 260px;
	margin-left: 10px;
	margin-right: 0px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
	color:white;
	background-color:Blue;
	cursor:hand;
}
.thdrsing 
{
	cursor:hand;
	background:#88aee4;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#468AEA);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	border-left: solid #6b6c6c 1px;
	border-bottom: solid #6b6c6c 1px;
}
.bluelabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
color: Blue;
font-weight: bold;	
}
.plainlabel
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
	color:black;
}
.plainlabelblue
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
	color:blue;
}
.btmmenu {
	background:#88aee4;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#88aee4);
}
.plainlabelred
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
	color:red;
}
.plainlabelgray
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
	color:Gray;
}
.plainlabelpink
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
	color:Maroon;
}
.plainlabelwhite
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
	color:white;
	background-color:Blue;
}
.label
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
	color:black;
font-weight: bold;	
}
.whtlbl
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:13px;
	text-decoration:none;
	color:white;
font-weight: bold;	
}
.OverDragBox 
{
	cursor: hand; 
	width: 300px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:14px;
	text-decoration:none;
	color:blue;
	font-weight: bold;	
}
.DragDragBox
{
	cursor: hand; 
	width: 320px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:14px;
	text-decoration:none;
	color:red;
	font-weight: bold;	
}
.details 
{ 
DISPLAY: none; 
VISIBILITY: hidden; 
FONT-FAMILY: Verdana; 
BACKGROUND-COLOR: transparent 
}
.view 
{ 
DISPLAY: block; 
VISIBILITY: visible; 
FONT-FAMILY: Verdana; 
BACKGROUND-COLOR: transparent 
}
.A1:link	{	
	text-decoration:	none;
	color:	#3333cc;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}	
.A1:visited	{	
	text-decoration:  	none;
	color:	#333399;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}	
		
.A1:active	{	
	text-decoration:	none;
	color:	#333399;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}
	
.tblmenu 
{
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	font-size:12px;
	border-right:1px solid #EFB;
	color:black;
	text-align:center;
	vertical-align:middle;
	height:24px;
	background:#88aee4;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#468AEA);
}	