.bggr
{
	background-color: Lime;
}
.bgwt
{
	background-color: White;
}
.bgyl
{
	background-color:Yellow;
}
.tdtop0
{
POSITION: absolute; TOP: 0px; background-color: transparent;	
}
.wolistbig
{
	WIDTH: 760px; HEIGHT: 390px; OVERFLOW: auto
}
.wolistbig1
{
	WIDTH: 720px; HEIGHT: 360px; OVERFLOW: auto
}
.wolistbig2
{
	WIDTH: 1020px; HEIGHT: 360px; OVERFLOW: auto
}
.wolistsmall
{
	WIDTH: 760px; HEIGHT: 240px; OVERFLOW: auto
}
.wolistsmall1
{
	WIDTH: 720px; HEIGHT: 200px; OVERFLOW: auto
}
.wolistsmall2
{
	WIDTH: 600px; HEIGHT: 430px; OVERFLOW:auto
}
.wolistsmall4
{
	WIDTH: 1020px; HEIGHT: 430px; OVERFLOW: visible
}
.wolistsmall2mm
{
	WIDTH: 700px; HEIGHT: 330px; OVERFLOW: auto
}
.wolistsmall3
{
	WIDTH: 860px; HEIGHT: 430px; OVERFLOW: auto
}
.schedlistlng
{
	WIDTH: 1450px; HEIGHT: 400px; OVERFLOW: auto
}
.schedlistlnghdr
{
	WIDTH: 1450px; HEIGHT: 120px; OVERFLOW: hidden
}
.schedlistlnghdrl
{
	WIDTH: 710px; HEIGHT: 550px; OVERFLOW:visible
}
.schedlistlnghdr1
{
	WIDTH: 515px; HEIGHT: 550px; OVERFLOW:auto
}
.schedlistlnghdrlb
{
	/*top lft wk*/
	WIDTH: 704px; HEIGHT: 128px; OVERFLOW:hidden
}
.schedlistlngl
{
	/*bot lft wk*/
	WIDTH: 704px; HEIGHT: 390px; OVERFLOW:hidden
}
.schedlistlnghdr1b
{
	/*top rt wk*/
	WIDTH: 512px; HEIGHT: 128px; OVERFLOW:hidden
}
.schedlistlng1
{
	/*bot rt wk*/
	WIDTH: 528px; HEIGHT: 410px; OVERFLOW: auto
}


.schedlistlnghdrlb2
{
	WIDTH: 1240px; HEIGHT: 87px; OVERFLOW:hidden
}
.schedlistlngl2
{
	WIDTH: 1240px; HEIGHT: 440px; OVERFLOW:auto
}
.tbg {
background-color: transparent;
}
.orangelabel
{
font-family:Arial, MS Sans Serif, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:orange;
font-weight: bold;	
}
.AT	{	
	text-decoration:underline;
	color:	blue;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}
.ATL	{	
	color:	blue;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}
.bigblue
{
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;
	font-size:22px;
	text-decoration:none;
	font-style:italic;
	color: Blue;
	font-weight: bold;
	
}
.bluelinkbold 
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:underline;
	color:blue;	
	font-weight:bold
}
.smreg 
{
	/*dummy class*/
}
.smdis 
{
	/*dummy class*/
}
.plbox
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:underline;
	color:black;
}
.plainlabelau
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:underline;
	color:blue;
}

.transrowgray 
{
	background-color:#edf0f3;
	filter:alpha(opacity=66);
}
.transrowdrk 
{
	background-color:#bad8fc;
	filter:alpha(opacity=66);
}

.transrow 
{
	background-color:transparent;
}
.transrowblue 
{
	background-color:#E7F1FD;
	filter:alpha(opacity=66);
}

.ptransrow 
{
	background-color:transparent;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:black;
}
.ptransrowblue 
{
	background-color:#E7F1FD;
	filter:alpha(opacity=66);
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:black;
}
.transrowlime 
{
	background-color:#99FB97;
	filter:alpha(opacity=66);
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:black;
}
.transrowltblue 
{
	background-color:#BFDDFB;
	filter:alpha(opacity=66);
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:black;
}


.btmbrdr 
{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: gray;
	BORDER-RIGHT-STYLE: solid; 
	BORDER-RIGHT-width: 1px;
	border-right-color: gray; 
	BORDER-LEFT-STYLE: solid; 
	BORDER-LEFT-width: 1px; 
	border-left-color: gray;
	BORDER-BOTTOM-STYLE: solid;
	BORDER-BOTTOM-width: 1px;
	border-bottom-color: gray;
}
.btmmenuhdr 
{
	position: absolute; 
	top: 0px; 
	left: 2px; 
	z-index: 2;
	background:transparent;
}
.btmmenuhdr1 
{
	position: absolute; 
	top: 0px; 
	left: 2px; 
	z-index: 2;
	FILTER: alpha(opacity=80)progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#88aee4);	
}
.btmmenuhdr2 
{
	position: absolute; 
	top: 0px; 
	left: 2px; 
	z-index: 2;
	FILTER: alpha(opacity=80)progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#2F77DF,endColorStr=#076AF9);	
}
.btover 
{
	border-top-style: dotted;
	border-top-width: 1px;
	border-top-color: gray;
	BORDER-RIGHT-STYLE: dotted; 
	BORDER-RIGHT-width: 1px;
	border-right-color: gray; 
	BORDER-LEFT-STYLE: dotted; 
	BORDER-LEFT-width: 1px; 
	border-left-color: gray;
	BORDER-BOTTOM-STYLE: dotted;
	BORDER-BOTTOM-width: 1px;
	border-bottom-color: gray;

	background-color:#A7F8A0;
	cursor:pointer;
}
.stover 
{
	border-top-style: dotted;
	border-top-width: 1px;
	border-top-color: gray;
	BORDER-RIGHT-STYLE: dotted; 
	BORDER-RIGHT-width: 1px;
	border-right-color: gray; 
	BORDER-LEFT-STYLE: dotted; 
	BORDER-LEFT-width: 1px; 
	border-left-color: gray;
	BORDER-BOTTOM-STYLE: dotted;
	BORDER-BOTTOM-width: 1px;
	border-bottom-color: gray;
	
	background-color:#EEF79F;
	cursor:pointer;
}
.menu {
	text-align:center;
	vertical-align:top;
	background:#88aee4;
	border-color:#004455;
	
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#88aee4);

}
.graylabelu
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Gray;
font-weight: bold;
text-decoration: underline;		
}
.gborder
{
	border-left:1px solid black;
	border-bottom:1px solid black;
}
.button
{
	width: 40px;
}
.tdborder 
{

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: gray;
	BORDER-RIGHT-STYLE: solid; 
	BORDER-RIGHT-width: 1px;
	border-right-color: gray; 
	/*BORDER-LEFT-STYLE: solid; 
	BORDER-LEFT-width: 1px; 
	border-left-color: gray;*/
	BORDER-BOTTOM-STYLE: solid;
	BORDER-BOTTOM-width: 1px;
	border-bottom-color: gray;
	
}
.tdborder1 
{

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: gray;
	BORDER-RIGHT-STYLE: solid; 
	BORDER-RIGHT-width: 1px;
	border-right-color: gray; 
	BORDER-LEFT-STYLE: solid; 
	BORDER-LEFT-width: 1px; 
	border-left-color: gray;
	BORDER-BOTTOM-STYLE: solid;
	BORDER-BOTTOM-width: 1px;
	border-bottom-color: gray;
	
}
.ecrlink	{	
	text-decoration: underline;
	color:	#0000ff;
	font-size:14px;
	font-family:MS Sans Serif, Arial, sans-serif, Verdana;	
	}	
.ecrlinkover	{	
	text-decoration: underline;
	color:	#cc0000;
	font-size:14px;
	font-family:MS Sans Serif, Arial, sans-serif, Verdana;	
	}	
.ecrlinkout	{	
	text-decoration: underline;
	color:	#0000ff;
	font-size:14px;
	font-family:MS Sans Serif, Arial, sans-serif, Verdana;	
	}
.ecrlinksel {	
	text-decoration: underline;
	color:	red;
	font-size:14px;
	font-family:MS Sans Serif, Arial, sans-serif, Verdana;	
	}
.A1R:link	{	
	text-decoration: underline;
	color:	Red;
	font-size:12px;
	font-family:MS Sans Serif, Arial, sans-serif, Verdana;	
	}
.A1G:link	{	
	text-decoration: underline;
	color:	Green;
	font-size:12px;
	font-family:MS Sans Serif, Arial, sans-serif, Verdana;	
	}
.A1U:link	{	
	text-decoration: underline;
	color:	Blue;
	font-size:12px;
	font-family:MS Sans Serif, Arial, sans-serif, Verdana;	
	}		
.A1:link	{	
	text-decoration:	none;
	color:	#3333cc;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}
.A1b	{	
	text-decoration:	none;
	color:	#E0DEDE;
	font-size:12px;
	text-decoration:underline;
	font-family:MS Sans Serif, Arial, sans-serif, Verdana;	
	}	
.A1black	{	
	text-decoration:	none;
	color:	Black;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
	font-family:MS Sans Serif, Arial, sans-serif, Verdana;	
	}	
.A1blue {	
	text-decoration:	none;
	color:Blue;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
	font-family:MS Sans Serif, Arial, sans-serif, Verdana;	
	}
.A1gray	{	
	text-decoration:	none;
	color:	Gray;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
	font-family:MS Sans Serif, Arial, sans-serif, Verdana;	
	}		
.A1:visited	{	
	text-decoration:  	none;
	color:	#333399;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}	
		
.A1:active	{	
	text-decoration:	none;
	color:	#333399;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}	
		
.A2:hover	{	
	text-decoration:	underline;
	color:Black;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}
.A2:link	{	
	text-decoration:	none;
	color:Black;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}	
.A2:visited	{	
	text-decoration:  	none;
	color:Black;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}			
.A2:active	{	
	text-decoration:	none;
	color:Black;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}		
.A2:hover	{	
	text-decoration:	underline;
	color:Black;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}
	
.A3:hover	{	
	text-decoration:	underline;
	color:Red;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}
.A3:link	{	
	text-decoration:	none;
		color:Red;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}	
.A3:visited	{	
	text-decoration:  	none;
		color:Red;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}			
.A3:active	{	
	text-decoration:	none;
		color:Red;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}		
.A3:hover	{	
	text-decoration:	underline;
		color:Red;
	font-size:12px;
	font-family:Arial, MS Sans Serif, sans-serif, Verdana;	
	}
	
.tblmenuyrt 
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;	
	font-size:12px;
	border-right:1px solid #EFB;
	color:black;
	text-align:left;
	text-indent:3px;
	vertical-align:middle;
	height:24px;
	background-image:url(../images/yb.gif);
}
.tblmenugrt 
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	border-right:1px solid #EFB;
	color:black;
	text-align:left;
	text-indent:3px;
	vertical-align:middle;
	height:24px;
	/*background-image:url(../images/blugrad25.gif);*/
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#69fc62,endColorStr=#c2ffc1);
}
.subscript
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:10px;
	font-weight:normal;
	text-decoration:none;
	color:black;
}
.subscript8
{
	font-family: arial,MS Sans Serif, sans-serif, Verdana;
	font-size:9px;
	font-weight:normal;
	text-decoration:none;
	color:black;
}
.DragBox 
{
	cursor: pointer; 
	width: 300px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:14px;
	text-decoration:none;
	color:black;
	font-weight: bold;	
}
.OverDragBox 
{
	cursor: pointer; 
	width: 300px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:14px;
	text-decoration:none;
	color:blue;
	font-weight: bold;	
}
.DragDragBox
{
	cursor: pointer; 
	width: 320px;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:14px;
	text-decoration:none;
	color:red;
	font-weight: bold;	
}
.FreezePaneOff
   {
	  visibility: hidden;
	  display: none;
	  position: absolute;
	  top: -100px;
	  left: -100px;
	  
   }

   .FreezePaneOn
   {
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  visibility: visible;
	  display: block;
	  width: 117%;
	  height: 100%;
	  background-color: #eeeded;
	  z-index: 999;
	  filter:alpha(opacity=35);
	  -moz-opacity:0.35;
	  padding-top: 3%;
   }
.FreezePaneOn2
   {
	  position: absolute;
	  top: 300px;
	  left: 0px;
	  visibility: visible;
	  display: block;
	  width: 117%;
	  height: 100%;
	  background-color: #eeeded;
	  z-index: 999;
	  filter:alpha(opacity=35);
	  -moz-opacity:0.35;
	  padding-top: 3%;
   }
 .FreezePaneOn4
   {
	  position: absolute;
	  top: 52px;
	  left: 0px;
	  visibility: visible;
	  display: block;
	  width: 106%;
	  height: 80%;
	  background-color: #eeeded;
	  z-index: 999;
	  filter:alpha(opacity=35);
	  -moz-opacity:0.35;
	  padding-top: 3%;
   }
   .FreezePaneOn5
   {
	  position: absolute;
	  top: 0px;
	  left: 210px;
	  visibility: visible;
	  display: block;
	  width: 70%;
	  height: 54px;
	  background-color: #eeeded;
	  z-index: 999;
	  filter:alpha(opacity=35);
	  -moz-opacity:0.35;
	  padding-top: 3%;
   }
   .waiton
   {
	background-color:Lime;
   }
   .waitony
   {
	background-color:Yellow;
   }
   .waitoff
   {
	background-color:white;
   }
   .waitbox
   {
	BORDER-BOTTOM: blue 1px solid; 
	BORDER-LEFT: blue 1px solid; 
	BORDER-TOP: blue 1px solid; 
	BORDER-RIGHT: blue 1px solid;
	height:20px;
	width:180px;
   }
   .waitmain
   {
	height:20px;
	width:180px;
	
   }
   .FreezePaneOn3
   {
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  visibility: visible;
	  display: block;
	  width: 100%;
	  height: 100%;
	  background-color: #eeeded;
	  z-index: 999;
	  filter:alpha(opacity=35);
	  -moz-opacity:0.35;
	  padding-top: 3%;
   }
   .InnerFreezePane
   {
	
	  text-align: center;
	  background-color: #eeeded;
	  width: 100%;
	  font-family:MS Sans Serif, arial, sans-serif, Verdana;
	  color: gray;
	  font-size: 16px;
	  font-weight:bold;
	  
   }
   .FreezePaneOn1
   {
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  visibility: visible;
	  display: block;
	   width: 115%;
	  height: 74px;
	  background-color: #eeeded;
	  z-index: 999;
	  filter:alpha(opacity=35);
	  -moz-opacity:0.35;
	  padding-top: 5%;
   }

   .InnerFreezePane1
   {
	
	  text-align: center;
	  background-color: #eeeded;
	  font-family:MS Sans Serif, arial, sans-serif, Verdana;
	  color: gray;
	  font-size: 16px;
	  font-weight:bold;
   }

.hdrmenu {
	background:#0b3f99;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#0b3f99,endColorStr=#4a79ca);

}

.btmmenulft {
	background:#88aee4;
	padding:2px 2px 2px 3px;
	margin:1em;
	border-top: solid #A6A6A6 1px;
	/*border-right: solid #6b6c6c 1px;*/
	border-left: solid #A6A6A6 1px;
	border-bottom: solid #A6A6A6 1px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#88aee4);
}
.btmmenurt {
	background:#88aee4;
	padding:2px 2px 2px 3px;
	margin:1em;
	border-top: solid #A6A6A6 1px;
	border-right: solid #A6A6A6 1px;
	border-left: solid #A6A6A6 1px;
	border-bottom: solid #A6A6A6 1px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#88aee4);
}
.btmhover 
{
	background-color:#ffd79d;
	padding:1px 1px 1px 1px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#ffedc1,endColorStr=#ffd79d);
}
.rhdr {
	background:#d5d1d1;
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#414040;
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	FILTER: progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#ff8c00,strength=35);
	FILTER: progid:DXImageTransform.Microsoft.Alpha( style=0,opacity=75);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#eeeded,endColorStr=#d5d1d1);

}
.hand 
{
	cursor:pointer;
}
.thdr 
{
	cursor:pointer;
	background:#88aee4;
	padding:1px 1px 1px 1px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#468AEA);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	border-left: solid #6b6c6c 1px;
}
.thdrhov 
{
	cursor:pointer;
	cursor:pointer;
	background:#F7F98E;
	background-color:#F7F98E;
	padding:1px 1px 1px 1px;
	margin:1em;
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	border-left: solid #6b6c6c 1px;
}
.thdrmini
{
	cursor:pointer;
	background:#88aee4;
	background-color:#88aee4;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	border-left: solid #6b6c6c 1px;
}
.thdrhovmini 
{
	cursor:pointer;
	cursor:pointer;
	background:#F7F98E;
	background-color:#F7F98E;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	border-left: solid #6b6c6c 1px;
}
.thdrdis 
{
	cursor:pointer;
	background:#DCD9D9;
	padding:1px 1px 1px 1px;
	margin:1em;
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	border-left: solid #6b6c6c 1px;
}
.thdrsingorange 
{
	/*cursor:pointer;*/
	background:#FBC656;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FFBB73,endColorStr=#FF5126);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	border-left: solid #6b6c6c 1px;
	border-bottom: solid #6b6c6c 1px;
}
.thdrsingorangelft 
{
	/*cursor:pointer;*/
	background:#FBC656;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FFBB73,endColorStr=#FF5126);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	/*border-right: solid #6b6c6c 1px;*/
	border-left: solid #6b6c6c 1px;
	border-bottom: solid #6b6c6c 1px;
}
.thdrsingorangert 
{
	/*cursor:pointer;*/
	background:#FBC656;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FFBB73,endColorStr=#FF5126);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	/*border-left: solid #6b6c6c 1px;*/
	border-bottom: solid #6b6c6c 1px;
}
.thdrsingred 
{
	/*cursor:pointer;*/
	background:#F95F5F;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#F9A3A3,endColorStr=#F90808);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	border-left: solid #6b6c6c 1px;
	/*border-bottom: solid #6b6c6c 1px;*/
}
.thdrsingredrt 
{
	/*cursor:pointer;*/
	background:#F95F5F;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#F9A3A3,endColorStr=#F90808);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	/*border-left: solid #6b6c6c 1px;*/
	border-bottom: solid #6b6c6c 1px;
}
.thdrsingredlft 
{
	/*cursor:pointer;*/
	background:#F95F5F;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#F9A3A3,endColorStr=#F90808);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	/*border-right: solid #6b6c6c 1px;*/
	border-left: solid #6b6c6c 1px;
	
	border-bottom: solid #6b6c6c 1px;
}
.thdrsing 
{
	/*cursor:pointer;*/
	background:#88aee4;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#468AEA);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	border-left: solid #6b6c6c 1px;
	border-bottom: solid #6b6c6c 1px;
	background-image: url(../images/appbuttons/minibuttons/gradient1.png);
	background-repeat: repeat-x;
	background-position: top left;
}
.thdrsingnobot 
{
	/*cursor:pointer;*/
	padding:2px 2px 2px 2px;
	margin:1em;
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	border-left: solid #6b6c6c 1px;
	background-image: url(../images/appbuttons/minibuttons/gradient1.gif);
	background-repeat: repeat-x;
	background-position: top left;
}
.thdrsingtbo
{
	/*cursor:pointer;*/
	padding:2px 2px 2px 2px;
	margin:1em;
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-bottom: solid #6b6c6c 1px;
	background-image: url(../images/appbuttons/minibuttons/gradient1.gif);
	background-repeat: repeat-x;
	background-position: top left;
}
.thdrsinglft
{
	/*cursor:pointer;*/
	padding:2px 2px 2px 2px;
	margin:1em;
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-left: solid #6b6c6c 2px;
	border-bottom: solid #6b6c6c 1px;
	background-image: url(../images/appbuttons/minibuttons/gradient1.gif);
	background-repeat: repeat-x;
	background-repeat:repeat;
	background-position: top left;
}
.btmmenu {
	/*background:#88aee4;
	z-index:2;
	position:relative;
	top:2px;
	left:36px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#88aee4);
	*/
	background-image: url(../images/appbuttons/minibuttons/gradient2.gif);
	background-repeat: repeat-x;
	background-position: top left;
	
}
.btmmenuy {
	background-color:#CCDFE0
}
.thdrsingrt
{
	padding:2px 2px 2px 2px;
	margin:1em;
	
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-right: solid #6b6c6c 1px;
	border-bottom: solid #6b6c6c 1px;
	background-image: url(../images/appbuttons/minibuttons/gradient1.gif);
	background-repeat: repeat-x;
	background-repeat:repeat;
	background-position: top left;
}
.thdrsingcntr 
{

	background:#88aee4;
	padding:2px 2px 2px 2px;
	margin:1em;
	background-image: url(../images/appbuttons/minibuttons/gradient1.gif);
	background-repeat: repeat-x;
	background-position: top left;	
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #6b6c6c 1px;
	border-bottom: solid #6b6c6c 1px;
	
}
.thdrsingg 
{
	/*cursor:pointer;*/
	background:#88aee4;
	padding:2px 2px 2px 2px;
	margin:1em;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#6498E2);
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid #A6A6A6 1px;
	border-right: solid #A6A6A6 1px;
	border-left: solid #A6A6A6 1px;
	border-bottom: solid #A6A6A6 1px;
}
.thdrsinggtrans 
{
	/*cursor:pointer;*/
	background:white;
	padding:2px 2px 2px 2px;
	margin:1em;
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid white 1px;
	border-right: solid white 1px;
	border-left: solid white 1px;
	border-bottom: solid white 1px;
}
.thdrsinggtrans1 
{
	padding:2px 2px 2px 2px;
	margin:1em;
	text-indent: 3px;
	text-align: left;
	vertical-align:middle;
	border-top: solid white 1px;
	border-right: solid white 1px;
	border-left: solid white 1px;
	border-bottom: solid white 1px;
}
.thdrplain
{
	text-align:center;
	
	border-top: solid #A6A6A6 1px;
	border-right: solid #A6A6A6 1px;
	border-left: solid #A6A6A6 1px;
	border-bottom: solid #A6A6A6 1px;
}
.thdrplainbg
{
	background-color:#E7F1FD;
	filter:alpha(opacity=66);
	text-align:center;
	
	border-top: solid #A6A6A6 1px;
	border-right: solid #A6A6A6 1px;
	border-left: solid #A6A6A6 1px;
	border-bottom: solid #A6A6A6 1px;
}
.thdrplainbgy
{
	background-color:#F6FA91;
	filter:alpha(opacity=66);
	text-align:center;
	
	border-top: solid #A6A6A6 1px;
	border-right: solid #A6A6A6 1px;
	border-left: solid #A6A6A6 1px;
	border-bottom: solid #A6A6A6 1px;
}


.thdrplaintrans
{
	text-align:center;
	
	border-top: solid white 1px;
	border-right: solid white 1px;
	border-left: solid white 1px;
	border-bottom: solid white 1px;
}
.thdrplainwht
{
	text-align:center;
	
	border-top: solid white 1px;
	border-right: solid white 1px;
	border-left: solid white 1px;
	border-bottom: solid white 1px;
}

.ssmenu {
	background:#004455;
	border-color:black;
	border: solid 1px black;
	text-indent: 3px;
	FILTER: progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#ff8c00,strength=35);
	FILTER: progid:DXImageTransform.Microsoft.Alpha( style=0,opacity=75);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#05C7FA,endColorStr=#2042F1);
}

.vmenu {
	text-align:left;
	cursor:pointer;
	vertical-align:top;
	background:#d0cdcd;
	border-color:#004455;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#eeeded,endColorStr=#d5d1d1);
}
.menu {
	text-align:center;
	vertical-align:top;
	background:#789ABC;
	border-color:#004455;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#ABCDEF,endColorStr=#789ABC);
}
.plainlabel
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:black;
}
.plainlabelwht
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:white;
}

.plainlabelgray
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:gray;
}
.plainlabelau
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:underline;
	color:blue;
}
.plainlabeldu
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:underline;
	color:Navy;
}
.plainlabelm
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:black;
}
.plainlabelblue
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:blue;
}
.plainlabelblue14
{
	font-family:arial,MS Sans Serif,  sans-serif, Verdana;
	font-size:9pt;
	text-decoration:none;
	color:blue;
}
.plainlabel14
{
	font-family:arial,MS Sans Serif,  sans-serif, Verdana;
	font-size:9pt;
	text-decoration:none;
	color:black;
}
.plainlabelbluea
{
	font-family: arial,MS Sans Serif, sans-serif, Verdana;
	font-size:10pt;
	text-decoration:none;
	color:blue;
}
.plainlabela
{
	font-family:arial,MS Sans Serif,  sans-serif, Verdana;
	font-size:10pt;
	text-decoration:none;
	color:black;
}
.plainlabelred
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:red;
}

.plainlabelgreen
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:Green
}
.plainlabelreda
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:underline;
	color:red;
}
.plainlabelsm
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:10px;
	text-decoration:none;
	color:black;
}
.lucilabel
{
font-family: Lucida Console;
font-style: normal;
font-size: 10pt;
color: Black;
}
.strikelabel
{
font-family: Arial;
font-size: 10pt;
color: Black;
text-decoration: line-through;
}
.disablelabel
{
font-family: Arial;
font-size: 10pt;
color: Gray;
}
.plainlabel9
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:black;
}

.bigbold
{
font-family: Arial;
font-size: 12px;
color: Black;
font-weight: bold;	
}
.bigbold1
{
font-family: Arial;
font-size: 16px;
color: Black;
font-weight: bold;	
}
.bigbluebold
{
font-family: Arial;
font-size: 12pt;
color: Blue;
font-weight: bold;	
}
.bigplain
{
font-family: Arial;
font-size: 10pt;
color: Black;
}
.imgbutton
{
cursor: pointer;	
}
.grooveborder
{
BORDER-RIGHT: groove 2px; 
BORDER-TOP: groove 2px; 
BORDER-LEFT: groove 2px; 
BORDER-BOTTOM: groove 2px
}
.blackborder
{
BORDER-RIGHT: solid black 1px; 
BORDER-TOP: solid black 1px; 
BORDER-LEFT: solid black 1px; 
BORDER-BOTTOM: solid black 1px
}
.blueborder
{
BORDER-RIGHT: solid blue 1px; 
BORDER-TOP: solid blue 1px; 
BORDER-LEFT: solid blue 1px; 
BORDER-BOTTOM: solid blue 1px
}
.blueright
{
BORDER-RIGHT: groove 2px; 
BORDER-BOTTOM: groove 2px; 
}
.blueleft1
{
BORDER-LEFT: groove 2px; 
BORDER-BOTTOM: groove 2px; 
}
.bluelef
{
BORDER-LEFT: groove 2px; 
BORDER-BOTTOM: groove 2px; 
}
.bluecntr
{
BORDER-BOTTOM: groove 2px; 
}
.grayborder
{
BORDER-TOP: solid gray 1px;
BORDER-RIGHT: solid gray 1px; 
BORDER-BOTTOM: solid gray 1px;
BORDER-LEFT: solid gray 1px; 
}
.graytop
{
BORDER-TOP: solid gray 1px;
}
.grayright
{
BORDER-RIGHT: solid gray 1px; 
BORDER-BOTTOM: solid gray 1px;
}
.grayright2
{
BORDER-RIGHT: solid gray 1px; 
}
.graybot
{
BORDER-BOTTOM: solid gray 1px;
}
.grayleft
{
BORDER-LEFT: solid gray 1px; 
BORDER-BOTTOM: solid gray 1px;
}
.graycntr
{
	BORDER-RIGHT: solid gray 1px; 
BORDER-BOTTOM: solid gray 1px;
BORDER-LEFT: solid gray 1px; 
}

.blacktop
{
BORDER-TOP: solid black 1px;
}
.blackright
{
BORDER-RIGHT: solid black 1px; 
BORDER-BOTTOM: solid black 1px;
}
.blackleft
{
BORDER-LEFT: solid black 1px; 
BORDER-BOTTOM: solid black 1px;
}
.blackcntr
{
	BORDER-RIGHT: solid black 1px; 
BORDER-BOTTOM: solid black 1px;
BORDER-LEFT: solid black 1px; 
}

.rptlabel
{
font-family: Arial;
font-size: 10pt;
color: Black;
background-color: White;
}
.rptlabelalt
{
font-family: Arial;
font-size: 10pt;
color: Black;
background-color:Silver;
}
.tdinf
{
background-color: #CFCFE0;
}
.detlabel
{
font-family: Arial;
font-size: 10pt;
color: Black;
font-weight: bold;

}
.labelsm
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10px;
color: Black;
font-weight: bold;
}
.labelsmtl
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10px;
color: Black;
font-weight: bold;
border-bottom:solid 1px gray;
}
.labelsmu
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10px;
color: Black;
font-weight: bold;
text-decoration:underline;
}
.olabelsm
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 9pt;
color: Black;
font-weight: bold;
background-color: #D7D5D5
}
.detbluelabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10pt;
color: Blue;
font-weight: bold;
background-color: #CFCFE0	
}
.detredlabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10pt;
color: red;
font-weight: bold;	
background-color: #CFCFE0	
}
.cbtn
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10pt;
color: Red;	
font-weight: bold;
background-color: #CFCFE0;
width: 50;	
}
.cellbrdrend
{
	border-bottom: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}
.cellbrdrcntr
{
	border-bottom: solid 1px black;
	border-right: solid 1px black;
	
}
.labeltblhdr
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10pt;
color: White;
font-weight: bold;	
background-color: #0000cc;
}
.labelwht
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: White;
font-weight: bold;	
}
.label
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:black;
font-weight: bold;	
}
.label14
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:14px;
	text-decoration:none;
	font-weight: bold;	
	color:black;
}
.label16
{
	font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:16px;
	text-decoration:none;
	font-weight: bold;	
	color:black;
	
}
.labelsm
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:8px;
	text-decoration:none;
	color:black;
font-weight: bold;	
}
.labelu
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10pt;
color: Black;
font-weight: bold;
text-decoration: underline;	
}
.graylabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10pt;
color: Gray;
font-weight: bold;	
}
.whitelabel10pt
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: #E6E4E4;
font-weight: bold;	
}
.cntrlabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10pt;
color: Black;
font-weight: bold;
text-align: center;	
}
.olabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Black;
font-weight: bold;
background-color: #D7D5D5;	
}
.olabeldrk
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10pt;
color: Black;
font-weight: bold;
background-color: #807F7F;	
}
.obluelabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Blue;
font-weight: bold;
background-color: #D7D5D5;	
}
.oredlabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10pt;
color: Red;
font-weight: bold;
background-color: #D7D5D5;	
}
.labeld
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12pt;
color: Black;
font-weight: bold;	
}
.labeli
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12pt;
color: Black;
FONT-STYLE: italic; 
}
.labelibl
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size:12px;
text-decoration:none;
color: Blue;
/*FONT-STYLE: italic;*/ 
}
.labelib
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12pt;
color: Black;
FONT-STYLE: italic; 
font-weight: bold;	
}
.labelibs
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Black;
/*FONT-STYLE: italic; */
font-weight: bold;	
}
.labellt
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10pt;
color: Black;
}
.labellink
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Blue;
cursor: pointer;
}
.blink
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Blue;
cursor: pointer;
font-weight: bold;
}
.blklink
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Black;
cursor: pointer;
font-weight: bold;
}
.blinkhov 
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Purple;
cursor: pointer;
font-weight: bold;	
}
.suggest
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10pt;
color: Black;
cursor: pointer;
text-decoration: none;
padding-bottom: 2;
}
.tdtab
{
padding-right: 5px;
padding-left: 5px;
font-weight: bold;
font-size: 10pt;
padding-bottom: 2px;
cursor: pointer;
color: white;
padding-top: 2px;
font-family: Arial;
background-color: blue;
}
.tdtabhov
{
padding-right: 3px;
padding-left: 3px;
font-weight: bold;
font-size: 9pt;
padding-bottom: 2px;
cursor: pointer;
color: white;
padding-top: 2px;
font-family: Arial;
background-color: navy;	
}

.bluelabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
color: Blue;
font-weight: bold;	
}
.darklabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
color: #222222;
font-weight: bold;	
}
.drkbluelabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10pt;
color:Navy;
font-weight: bold;	
}
.greenlabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color:Lime;
font-weight: bold;	
}
.graylabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
color: #999999;
font-weight: bold;	
}
.whitelabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 14px;
color: white;
font-weight: bold;	
}
.whitelabel12
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 10pt;
color: white;
font-weight: bold;	
}
.whitelabel10p
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 9pt;
color: white;
font-weight: bold;	
}
.bluelabelu
{
font-family:arial,MS Sans Serif,  sans-serif, Verdana;
font-size: 9pt;
color: Blue;
font-weight: bold;	
text-decoration: underline;
}
.lilmenu {
	/*background-image:url(../images/drkblugrad25.gif);*/
	padding:1px 1px 1px 1px;
	border-right: solid black 1px;	
	height:12px;
	width:55px;
	cursor:pointer;
	text-align:center;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d5e7fd,endColorStr=#88aee4);
}
.lilmenuhov 
{
	/*background-image:url(../images/yelgrad25.gif);
	background-image:url(../images/yb.gif);*/
	padding:2px 2px 2px 2px;
	border-right: solid black 1px;		
	height:12px;
	width:55px;	
	cursor:pointer;
	text-align:center;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#ffedc1,endColorStr=#ffd79d);
	*/
}
.linklabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:#414040;
color: Blue;	
text-decoration: underline;
}
.fdivns 
{	
WIDTH: 650px; HEIGHT: 70px; BACKGROUND-COLOR: white; OVERFLOW: auto;
padding:3px,3px,3px,3px;
border:solid 1px solid;
}
.rdivns 
{	
WIDTH: 650px; BACKGROUND-COLOR: white; OVERFLOW: auto;
padding:3px,3px,3px,3px;
border:solid 1px black;
}
.rldivns 
{	
WIDTH: 635px; BACKGROUND-COLOR: white; OVERFLOW: auto;
padding:3px,3px,3px,3px;
border:solid 1px black;
}
.rldivbtm 
{	
WIDTH: 635px; BACKGROUND-COLOR: white; OVERFLOW: auto;
padding:3px,3px,3px,3px;
border-right:solid 1px black;
border-left:solid 1px black;
border-bottom:solid 1px black;
}
.rlsdivns 
{	
WIDTH: 625px; BACKGROUND-COLOR: white; OVERFLOW: auto;
padding:3px,3px,3px,3px;
border:solid 1px black;
}
.linklabelbld
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#414040;
color: Blue;	
text-decoration: underline;
}
.redlink
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
color: Red;	
text-decoration: underline;
}
.linklabelred
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;

color: Red;	
text-decoration: underline;
}
.linklabelblk
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
	font-size:12px;
	text-decoration:none;
	color:#414040;
color: Black;	
text-decoration: underline;
}
.bluelabellt
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Blue;	
}
.greenlabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Green;
font-weight:bold;	
}
.blacklabellt
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 8pt;
color: Black;	
}
.redlabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: red;
font-weight: bold;	
}
.redlabellt
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: red;
}
.redlabel14
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 14px;
color: red;
font-weight: bold;	
}
.blulabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 11pt;
font-style: italic;
color: Blue;
font-weight: bold;
background-color: White;	
}
.details 
{ 
DISPLAY: none; 
VISIBILITY: hidden; 

}
.view
{ 
DISPLAY: block;
VISIBILITY: visible; 
}
.viewcell 
{ 
DISPLAY: table-cell;
VISIBILITY: visible; 
}
.viewrow 
{ 
DISPLAY: table-row;
VISIBILITY: visible; 

}
.btnview 
{ 
VISIBILITY: visible; 
}
.3DButton
{
font-size: 8pt;
font-weight: bold;
font-family: Arial;
cursor: pointer;
}
.hdr1 
{
FONT-WEIGHT: 800;
FONT-SIZE: 13pt; 
COLOR: blue; 
FONT-FAMILY: Arial 
} 
.hdr2 
{
FONT-WEIGHT: 800; 
FONT-SIZE: 11pt; 
COLOR: black; 
FONT-FAMILY: Arial 
} 
.hdr3 
{ 
FONT-WEIGHT: 800; 
FONT-SIZE: 11pt; 
COLOR: blue; 
font-family:MS Sans Serif, arial, sans-serif, Verdana;
} 
.note 
{ 
FONT-SIZE: 9pt; 
COLOR: blue; 
FONT-STYLE: italic; 
font-family:MS Sans Serif, arial, sans-serif, Verdana;
}