
.plainlabel
{
font-family: Arial;
font-size: 10pt;
color: Black;
}
.replabelplain
{
font-family: Arial;
font-size: 13px;
color: Black;
}
.replabel
{
font-family: Arial;
font-size: 13px;
color: Black;
font-weight:bold
}
.replabeltop
{
font-family: Arial;
font-size: 15px;
color: Black;
font-weight:bold
}
.replabeltopplain
{
font-family: Arial;
font-size: 15px;
color: Black;
}
.cntrlabel
{
font-family: Arial;
font-size: 10pt;
color: Black;
text-align: center;	
border-bottom: solid 1px gray;
border-left: solid 1px gray;

}
.box
{
border-bottom: solid 1px black;
border-left: solid 1px black;
border-top: solid 1px black;
border-right: solid 1px black;
}
.gbox
{
border-bottom: solid 1px black;
border-left: solid 1px black;
border-top: solid 1px black;
border-right: solid 1px black;
background-color:Silver;
}
.cntrlabelpln
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Black;
font-weight:normal;
border-bottom: solid 1px gray;
border-left: solid 1px gray;

}
.cntrlabelhdr
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Black;
font-weight:bold;
border-top: solid 1px gray;
border-bottom: solid 1px gray;
border-left: solid 1px gray;

}
.endlabelpln
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Black;
font-weight:normal;
border-bottom: solid 1px gray;
border-left: solid 1px gray;
border-right: solid 1px gray;

}
.endlabelhdr
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Black;
font-weight:bold;
border-top: solid 1px gray;
border-bottom: solid 1px gray;
border-left: solid 1px gray;
border-right: solid 1px gray;

}
.rtlabelpln
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Black;
font-weight:normal;
border-bottom: solid 1px gray;
border-left: solid 1px gray;

}
.rtlabelhdr
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Black;
font-weight:bold;
border-top: solid 1px gray;
border-bottom: solid 1px gray;
border-left: solid 1px gray;

}
.endlabel
{
font-family:MS Sans Serif, arial, sans-serif, Verdana;
font-size: 12px;
color: Black;
text-align: center;	
border-bottom: solid 1px gray;
border-left: solid 1px gray;
border-right: solid 1px gray;

}
.whthdr
{
font-family: Arial;
font-size: 9pt;
color: White;
background-color:Black;
font-weight: bold;
text-align: center
}
.blksilvhdr
{
font-family: Arial;
font-size: 10pt;
color: Black;
background-color:Silver;
font-weight: bold;
font-style: italic;
text-align: center
}
.lrghdr
{
font-family: Arial;
font-size: 14pt;
color: Black;
background-color:White;
font-weight: bold;
font-style: italic;
BORDER-BOTTOM: solid black 2px
}
.grayhdr
{
font-family: Arial;
font-size: 10pt;
color: Gray;
background-color:White;
font-weight: bold;
}
.replabel12
{
font-family: Arial,MS Sans Serif, sans-serif, Verdana;
font-size: 12px;
color: Black;
font-weight:bold
}
.repplain12
{
font-family: Arial,MS Sans Serif, sans-serif, Verdana;
font-size: 12px;
color: Black;
}
